Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

use staging api for staging app
  apps/expo/.env.staging
Owners: @intergalacticspacehighway

fix(transfer): amount logic and copy fix (#897)
  packages/app/components/transfer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix swipe list item height
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

increase the max listing price from 1000 to 9_999_999_999
  apps/next-react/src/components/UI/Modals/ListModal.jsx
Owners: @TatisLois

increase the max listing price from 1000 to 9_999_999_999
  apps/next-react/src/components/UI/Modals/ListModal.jsx
Owners: @TatisLois

chore(workflow): test workflow
  .github/workflows/test-slack.yml
  apps/expo/package.json
  apps/expo/scripts/bump-version.mjs
  package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

resolve merge conflicts
  packages/app/screens/transfer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(script): update script to support major bumps
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

fix(workflow): solve issue with git fetch depth
  .github/workflows/test-slack.yml
Owners: @axeldelafosse

chore(script): update todo for git grep string
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

refactor(script): clean up code and add comments
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

Feature/show2 514 improve transfer (#895)
  packages/app/components/transfer.tsx
  packages/app/screens/transfer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(expoWorkflow): update github action to support conditional step
  .github/workflows/expo-production.yml
Owners: @axeldelafosse

fix: storybook build fails due to duplicate exports
  packages/design-system/icon/index.ts
Owners: @axeldelafosse

fix: update feed testcases
  apps/expo/__mocks__/axios.ts
  apps/expo/component-tests/app.test.tsx
Owners: @intergalacticspacehighway

chore(workflow): update step name
  .github/workflows/expo-production.yml
Owners: @axeldelafosse

fix: storybook build fails due to duplicate exports (#900)
  apps/expo/__mocks__/axios.ts
  apps/expo/component-tests/app.test.tsx
  packages/design-system/icon/index.ts
Owners: @intergalacticspacehighway, @axeldelafosse

update nav bar icons
  packages/app/components/header-dropdown.tsx
  packages/app/navigation/navigator-screen-options.tsx
  packages/app/pages/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refresh feed when unfollowing or blocking a user
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: change header logo from gold to white
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois
