Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: button
  packages/app/components/login/phone-number-picker.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: dial_code
  packages/app/components/login/phone-number-picker.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/claim/claim-form.tsx
  packages/app/components/feed/feed.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1549)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/feed/feed.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v59.0.2
  package.json
Owners: none

fix
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: image selection in edit-profile is weird (#1550)
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: use v2/follow-suggestions
  packages/app/components/feed/feed.md.tsx
  packages/app/hooks/use-follow-suggestions.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: tabbar background color
  packages/app/components/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: card border is covered
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: use v2/follow-suggestions (#1551)
  packages/app/components/feed/feed.md.tsx
  packages/app/hooks/use-follow-suggestions.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update react native for web style reset
  apps/next/src/pages/_document.tsx
  apps/next/src/styles/styles.css
  apps/next/tailwind.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

lock body scroll if modal or bottom sheet open
  packages/design-system/bottom-sheet/index.tsx
  packages/design-system/hooks/index.ts
  packages/design-system/modal/modal.container.web.tsx
Owners: @axeldelafosse

upgrade design system
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

[WIP] spotify
  apps/next/src/pages/login-with-spotify/demo-double-fire.tsx
  apps/next/src/pages/login-with-spotify/index.tsx
  apps/next/src/pages/login-with-spotify/redirect.tsx
  apps/next/src/pages/login-with-spotify/util.ts
  packages/app/hooks/use-save-spotify-token.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

enable experiment gesture handler web
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

update social buttons position
  packages/app/components/card/social/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  apps/expo/app.config.js
  packages/app/components/drop/drop-form.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-container.ios.tsx
  packages/app/components/login/login-container.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/design-system/keyboard-aware/index.ts
  packages/design-system/keyboard-aware/keyboard-aware-scroll-view.tsx
  packages/design-system/modal/modal.container.tsx
  packages/design-system/modal/modal.footer.tsx
  packages/design-system/modal/useKeyboard.android.ts
  packages/design-system/modal/useKeyboard.ts
  packages/design-system/modal/useKeyboardOffset.android.ts
  packages/design-system/modal/useKeyboardOffset.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: overflow scroll on mobile
  packages/app/components/feed-item/details.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login form keyboard
  apps/expo/package.json
  packages/app/components/login/login-input-field.tsx
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

qol improvements
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/keyboard-aware/keyboard-aware-scroll-view.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login loading screen
  packages/app/components/login/login-overlays.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix sign in buttons
  packages/app/components/login/index.tsx
  packages/app/components/login/login-input-field.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

refactor: clamp text on web
  packages/app/components/profile/profile-top.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/clamp.web.tsx
  packages/design-system/clamp-text/use-clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/claim/claim-form.tsx
  packages/design-system/keyboard-aware/keyboard-aware-scroll-view.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/login/index.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: clamp text on web
  packages/app/components/profile/profile-top.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/clamp.web.tsx
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  apps/next/package.json
  apps/storybook-react-native/package.json
  apps/storybook-react/package.json
  packages/design-system/extensions/react-native-web/react-native-web.main.runtime.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix
  package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/screens/edit-profile.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/comments/comment-input-box.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix body mobile web app
  apps/next/src/pages/_document.tsx
  apps/next/src/styles/styles.css
  packages/app/components/header.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/search/index.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/screens/notifications.tsx
  packages/design-system/hooks/index.ts
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove keyboard aware scrollview
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/design-system/keyboard-aware/keyboard-aware-scroll-view.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/scroll-view/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

remove keyboard aware scrollview
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/keyboard-aware/index.ts
  packages/app/components/keyboard-aware/keyboard-aware-scroll-view.tsx
  packages/app/components/login/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: add softinput library
  apps/expo/App.tsx
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/keyboard-aware/index.ts
  packages/app/components/keyboard-aware/keyboard-aware-scroll-view.tsx
  packages/app/components/login/index.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/scroll-view/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fixes
  packages/app/components/claim/claim-form.tsx
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/comments/comments-container.ios.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/screens/comments.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

revert
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-container.tsx
  packages/app/components/login/login-input-field.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/login/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login with wallet not working
  apps/expo/package.json
Owners: @intergalacticspacehighway

fix: login with wallet not working
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse
