Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: magic test login
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: magic test login
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: ts type warning
  packages/app/types/environment.d.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove ts-ignore note
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: magic test login (#1400)
  packages/app/types/environment.d.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mute button location (#1399)
  packages/app/components/feed-item/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/test-videos.js
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v42.0.0
  package.json
Owners: none

fix: audio muted
  apps/expo/App.tsx
Owners: @intergalacticspacehighway

fix: audio muted (#1401)
  apps/expo/App.tsx
Owners: @intergalacticspacehighway

fix
  .bitmap
  apps/expo/package.json
  packages/app/components/drop/drop-explanation.tsx
  packages/design-system/modal/modal.container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix
  packages/app/components/drop/drop-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim/drop modal heights on small screen web (#1402)
  .bitmap
  apps/expo/package.json
  packages/design-system/modal/modal.container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

use twrnc on native
  apps/expo/package.json
  apps/next/package.json
  apps/next/tailwind.config.js
  packages/app/components/feed.tsx
  packages/design-system/activity-indicator/index.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/skeleton/index.tsx
  packages/design-system/text-input/index.tsx
  packages/design-system/text/index.tsx
  packages/design-system/video/index.tsx
  packages/design-system/view/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: imporve feed layout
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed/description.tsx
  packages/app/components/feed/feed-item-tap-gesture.tsx
  packages/app/components/swipe-list.tsx
  packages/app/types.ts
  packages/design-system/multi-clamp-text/index.tsx
  packages/design-system/multi-clamp-text/use-clamp-text.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: feed web layout
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v42.0.1
  package.json
Owners: none

fix(desktop): card style
  packages/app/components/card/card-skeleton.tsx
  packages/app/components/card/card.tsx
  packages/app/components/profile/footer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: expo update error/crash
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: search list not visiable
  packages/app/components/header.tsx
  packages/app/components/search/index.tsx
  packages/app/screens/search.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v42.0.2
  package.json
Owners: none

video global mute
  packages/app/hooks/use-viewability-mount.ts
  packages/app/providers/app-providers.tsx
  packages/app/providers/mute-provider.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

video global mute (#1407)
  packages/app/hooks/use-viewability-mount.ts
  packages/app/providers/app-providers.tsx
  packages/app/providers/mute-provider.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade design system
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix prettier-plugin-tailwindcss patch
  package.json
  yarn.lock
Owners: none

fix storybook
  apps/next/package.json
  apps/next/src/styles/styles.css
  apps/storybook-react/.storybook/main.js
  apps/storybook-react/package.json
  apps/storybook-react/postcss.config.js
  apps/storybook-react/styles/globals.css
  apps/storybook-react/tailwind.config.js
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

add LICENSE
  LICENSE
Owners: none

add CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Owners: none

fix: dark mode
  apps/expo/tailwind.config.js
  apps/next/tailwind.config.js
  packages/app/providers/theme-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: key warning
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade expo-dev-client
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: dark mode (#1410)
  apps/expo/tailwind.config.js
  apps/next/tailwind.config.js
  packages/app/providers/theme-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

render profiles and NFTs with data from server
  apps/next/src/pages/nft/[chainName]/[contractAddress]/[tokenId]/index.tsx
  apps/next/src/pages/profile/[username].tsx
  packages/app/pages/profile/index.web.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

dynamic fix
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/card/card.tsx
  packages/app/components/creator-preview/index.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/components/media/index.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/components/profile/footer.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/privacy-and-security.tsx
  packages/app/components/trending/creators-list.tsx
  packages/app/components/user-list.tsx
  packages/app/screens/marketplace.tsx
  packages/design-system/avatar/index.tsx
  packages/design-system/model/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style fixes web
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/gift-button.tsx
  packages/app/components/creator-preview/index.tsx
  packages/app/components/footer/links-footer.web.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/trending/index.tsx
  packages/design-system/button/button-base.tsx
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

style fixes web
  packages/app/components/profile/footer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: video styles
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse

field set rounded fix
  apps/next/tailwind.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

fix: style issues on web (#1413)
  .bitmap
  apps/expo/package.json
  apps/next/tailwind.config.js
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/card/card.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/creator-preview/index.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/footer/links-footer.web.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/components/media/index.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/components/profile/footer.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/privacy-and-security.tsx
  packages/app/components/trending/creators-list.tsx
  packages/app/components/trending/index.tsx
  packages/app/components/user-list.tsx
  packages/app/screens/marketplace.tsx
  packages/design-system/avatar/index.tsx
  packages/design-system/button/button-base.tsx
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
  packages/design-system/model/index.tsx
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v42.0.3
  package.json
Owners: none

fix
  .bitmap
  apps/expo/package.json
  packages/design-system/image/image.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse
