Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

wip
  packages/app/components/media/index.tsx
  packages/app/providers/swr-provider.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse

wip
  packages/design-system/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse

wip
  packages/design-system/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse

wip
  .bitmap
  apps/expo/package.json
  packages/design-system/infinite-scroll-list/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  .bitmap
  apps/expo/package.json
  packages/app/components/feed/feed.md.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/viewability-tracker-infinite-scroll-list.tsx
  packages/design-system/infinite-scroll-list/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/viewability-tracker-infinite-scroll-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/feed/feed.md.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
  packages/app/components/viewability-tracker-infinite-scroll-list.tsx
  packages/app/components/viewability-tracker-swipe-list.tsx
  packages/app/hoc/with-viewability-infinite-scroll-list.tsx
  packages/design-system/infinite-scroll-list/index.web.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: comments input box visable
  packages/app/hooks/use-modal-list-props.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Support for hyperlinks and mentions
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1433)
  .bitmap
  apps/expo/package.json
  packages/design-system/infinite-scroll-list/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

Minor
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Changed style
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Changed router
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Lint
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: packages
  .bitmap
  packages/app/hooks/use-modal-list-props.tsx
  packages/design-system/haptics/haptics.ts
  packages/design-system/haptics/haptics.web.ts
  packages/design-system/haptics/index.ts
  packages/design-system/infinite-scroll-list/index.ts
  packages/design-system/infinite-scroll-list/infinite-scroll-list.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  packages/design-system/tooltip/index.ts
  packages/design-system/tooltip/tooltip.tsx
  packages/design-system/tooltip/tooltip.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/media/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/providers/app-providers.web.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/swipe-list.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/trending/nfts-list.tsx
  packages/app/hoc/with-viewability-infinite-scroll-list.tsx
  packages/design-system/infinite-scroll-list/index.web.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/package.json
  packages/app/components/drop/drop-form.tsx
  packages/app/components/profile/profile-tab-filter.tsx
  packages/design-system/accordion/accordion.stories.tsx
  packages/design-system/accordion/index.tsx
  packages/design-system/select/select.stories.tsx
  packages/design-system/select/select.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  .bitmap
  apps/expo/package.json
  packages/design-system/tab-view/tab-flash-list.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: imports
  packages/app/components/feed/feed.md.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/trending/nfts-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: imports
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/video-nfts.json
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/trending/nfts-list.tsx
  packages/app/hoc/with-viewability-infinite-scroll-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/media/index.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/feed/feed.md.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/hocs/with-viewability-infinite-scroll-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

video NFTs improvements on web feed (#1436)
  .bitmap
  apps/expo/package.json
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/media/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
  packages/app/components/viewability-tracker-swipe-list.tsx
  packages/app/hocs/with-viewability-infinite-scroll-list.tsx
  packages/app/hooks/use-viewability-mount.ts
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/swr-provider.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix
  packages/app/components/feed-item/details.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1437)
  packages/app/components/feed-item/details.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: replace old select
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  apps/next/src/pages/_app.tsx
  apps/storybook-react/styles/globals.css
  packages/app/components/profile/index.tsx
  packages/design-system/fieldset/fieldset.stories.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/hooks/index.ts
  packages/design-system/select/lib/select-item.tsx
  packages/design-system/select/lib/select-list.web.tsx
  packages/design-system/select/select.stories.tsx
  packages/design-system/select/select.web.tsx
  packages/design-system/tooltip/hooks.ts
  packages/design-system/tooltip/position.tsx
  packages/design-system/utils/get-scroll-parent.ts
  packages/design-system/utils/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/constants/layout.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/fieldset/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix (#1438)
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/complete-profile-modal-content/complete-profile.png
  packages/app/components/complete-profile-modal-content/index.ts
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: preview video playing audio
  packages/app/components/claim/claim-form.tsx
  packages/app/components/media/index.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
