Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

clean up
  packages/app/components/login/use-login.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

disable flipper on CI
  apps/expo/package.json
Owners: @intergalacticspacehighway

nits
  packages/app/hooks/use-wallet/use-random-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/navigation/bottom-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/hooks/auth/use-wallet-login.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

disable flipper
  .github/workflows/android-waldo-build.yml
  .github/workflows/upload-build-to-waldo.yml
Owners: @axeldelafosse

generate random wallet for e2e tests (#1451)
  .github/workflows/android-waldo-build.yml
  .github/workflows/upload-build-to-waldo.yml
  apps/expo/babel.config.js
  apps/expo/package.json
  packages/app/components/create.tsx
  packages/app/components/delete.tsx
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/auth/use-wallet-login.web.ts
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-current-user-address.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-wallet/index.ts
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
  packages/app/lib/random-wallet/index.ts
  packages/app/lib/random-wallet/random-wallet.ts
  packages/app/navigation/bottom-tab-navigator.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/creator-preview/index.tsx
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/lib/random-wallet/random-wallet.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

show alert when drop or claim limit reached
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

e2e flag for ios build
  .github/workflows/upload-build-to-waldo.yml
Owners: @axeldelafosse

fix: creator NFT API throwing error (#1452)
  .github/workflows/upload-build-to-waldo.yml
  packages/app/components/creator-preview/index.tsx
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/lib/random-wallet/random-wallet.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix ethers imports
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: claimed more NFTs
  packages/app/components/notifications/nfts-display-name.tsx
  packages/app/components/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: copy style
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: copy style
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/nft-activity/activity-table.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

lazy load rudderstack
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/camera/expo-camera.tsx
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/login/use-login.ts
  packages/app/components/profile-dropdown.tsx
  packages/app/hooks/use-burn-nft.ts
  packages/app/hooks/use-buy-nft.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-list-nft.ts
  packages/app/hooks/use-mint-nft.ts
  packages/app/hooks/use-share-nft.ts
  packages/app/hooks/use-transfer-nft.ts
  packages/app/hooks/use-unlist-nft.ts
  packages/app/lib/analytics.ts
  packages/app/lib/growthbook.ts
  packages/app/lib/rudderstack/index.ts
  packages/app/lib/rudderstack/index.web.ts
  packages/app/lib/rudderstack/rudder-load-listener.ts
  packages/app/providers/auth-provider.tsx
  packages/app/providers/user-provider.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/components/camera/expo-camera.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/components/camera/expo-camera.tsx
  packages/app/lib/analytics.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve magic load
  apps/next/src/pages/_app.tsx
  packages/app/lib/magic/index.ts
  packages/app/lib/magic/index.web.ts
  packages/app/lib/magic/magic-load-listener.ts
  packages/app/lib/magic/magic.ts
  packages/app/lib/magic/magic.web.ts
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/magic-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Added modal for one drop per day
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/magic-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: activity section is not scrolling in NFT screen (#1455)
  apps/next/src/pages/_app.tsx
  packages/app/components/nft-activity/activity-table.tsx
  packages/app/lib/magic/index.ts
  packages/app/lib/magic/index.web.ts
  packages/app/lib/magic/magic-load-listener.ts
  packages/app/lib/magic/magic.ts
  packages/app/lib/magic/magic.web.ts
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/magic-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: LogBox warnings
  apps/expo/App.tsx
  packages/design-system/modal/modal.screen.ios.tsx
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix merge
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: disable EAS updates first
  packages/app/navigation/bottom-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add ts-expect-error
  packages/app/providers/web3-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove unused code
  apps/next/src/pages/camera/index.tsx
  apps/next/src/pages/create.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

disable nextScriptWorkers
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

fix
  apps/next/src/pages/_app.tsx
  packages/app/lib/rudderstack/index.ts
  packages/app/lib/rudderstack/index.web.ts
  packages/app/lib/rudderstack/rudder-load-listener.ts
  packages/app/lib/rudderstack/rudderstack.ts
  packages/app/lib/rudderstack/rudderstack.web.ts
  packages/app/providers/rudderstack-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix types
  packages/app/lib/rudderstack/rudderstack.ts
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix types
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix types
  packages/app/providers/rudderstack-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/lib/analytics.ts
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: rudderstack (#1460)
  apps/next/src/pages/_app.tsx
  packages/app/lib/analytics.ts
  packages/app/lib/rudderstack/index.ts
  packages/app/lib/rudderstack/index.web.ts
  packages/app/lib/rudderstack/rudder-load-listener.ts
  packages/app/lib/rudderstack/rudderstack.ts
  packages/app/lib/rudderstack/rudderstack.web.ts
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/auth-provider.tsx
  packages/app/providers/rudderstack-provider.web.tsx
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: crash when bad network
  apps/expo/App.tsx
  apps/expo/package.json
  apps/next/package.json
  package.json
  patches/eth-block-tracker+4.4.3.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix
  packages/app/components/camera/expo-camera.tsx
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/login/use-login.ts
  packages/app/components/profile-dropdown.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-share-nft.ts
  packages/app/lib/growthbook.ts
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove console
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
