Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: improve typings
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove mov file support in create drop (#1625)
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v66.0.0
  package.json
Owners: none

pref: imporve trending
  packages/app/components/trending/index.tsx
  packages/app/components/trending/tabs/creators-list.tsx
  packages/app/components/trending/tabs/index.tsx
  packages/app/components/trending/tabs/nfts-list.tsx
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/components/trending/trending.tsx
  packages/app/components/trending/trending.web.tsx
  packages/app/screens/trending.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: trending list bug
  packages/app/components/trending/tabs/nfts-list.tsx
  packages/app/components/trending/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean profile code
  packages/app/components/profile/profile-tab-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean code
  packages/app/components/trending/tabs/nfts-list.tsx
  packages/app/components/trending/trending.tsx
  packages/app/components/trending/trending.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: init trending tab
  packages/app/components/trending/trending.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

linkify description
  apps/expo/package.json
  packages/app/components/card/rows/description.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/lib/linkify.tsx
  patches/solito+0.0.26.patch
  patches/solito+1.0.12.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

profile top linkify
  packages/app/components/profile/profile-top.tsx
  packages/app/lib/linkify.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

profile top linkify
  packages/app/lib/linkify.tsx
  patches/solito+1.0.12.patch
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  patches/solito+1.0.12.patch
Owners: none

fix: claim available next refill time
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v66.0.1
  package.json
Owners: none

fix: claim fail alert copy
  packages/app/components/profile/profile-top.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: linkify URLs and mentions in drop description (#1627)
  apps/expo/package.json
  packages/app/components/card/rows/description.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/lib/linkify.tsx
  patches/solito+0.0.26.patch
  patches/solito+1.0.12.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v66.0.2
  package.json
Owners: none

fix: data pill color in drop form
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/design-system/data-pill/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: data pill color in drop form (#1630)
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/design-system/data-pill/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: initial url in swipelist
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1632)
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: initial url in swipelist (#1631)
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add three dots animation
  apps/storybook-react-native/.storybook/storybook.requires.js
  apps/storybook-react-native/package.json
  packages/app/components/claim/claim-button.tsx
  packages/design-system/dot-animation/dot-animation.stories.tsx
  packages/design-system/dot-animation/dot-animation.tsx
  packages/design-system/dot-animation/dot-animation.web.tsx
  packages/design-system/dot-animation/dot.css
  packages/design-system/dot-animation/index.ts
  packages/design-system/dot-animation/type.ts
  packages/design-system/tab-view/refresh-control.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: claimed to share
  packages/app/components/card/card.tsx
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/claim/claimed-share-button.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/claim/index.ts
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/providers/claim-provider.tsx
  packages/app/utilities.ts
  packages/design-system/dot-animation/dot-animation.tsx
  packages/design-system/dot-animation/dot-animation.web.tsx
  packages/design-system/dot-animation/dot.css
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim form
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: rename dot animation component
  apps/storybook-react-native/.storybook/storybook.requires.js
  packages/app/components/feed-item/claimed-by.tsx
  packages/design-system/dot-animation/index.ts
  packages/design-system/three-dots/index.ts
  packages/design-system/three-dots/three-dots.stories.tsx
  packages/design-system/three-dots/three-dots.tsx
  packages/design-system/three-dots/three-dots.web.tsx
  packages/design-system/three-dots/type.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim button logic
  packages/app/components/claim/claim-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim button style
  packages/app/components/claim/claim-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v66.0.3
  package.json
Owners: none

release v66.0.4
  package.json
Owners: none

feat: show share screen once when claimed
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

stop tracking nft claimed and drop created on the frontend
  packages/app/hooks/use-drop-nft.ts
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use eas m1-experimental for ios
  .github/workflows/expo-production.yml
  .github/workflows/expo-staging.yml
  apps/expo/eas.json
  apps/storybook-react-native/eas.json
Owners: @axeldelafosse, @intergalacticspacehighway

release v66.0.5
  package.json
Owners: none

upgrade zeego
  .bitmap
  apps/expo/package.json
  package.json
  packages/app/components/activity/activity-dropdown.tsx
  packages/app/components/header-dropdown.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/components/settings/dropdown-menu.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/design-system/dropdown-menu/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: select text on swipelist
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

form ui changes
  packages/app/components/drop/drop-form.tsx
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
