Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix android scroll view ref
  .bitmap
  apps/expo/package.json
  packages/design-system/scroll-view/scroll-view.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: On native, video NFTs only show preview if opened from detail screen (#1363)
  .bitmap
  apps/expo/package.json
  packages/app/components/feed-item/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/hooks/use-viewability-mount.ts
  packages/app/screens/nft.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v38.0.4
  package.json
Owners: none

feat: add more icons
  .bitmap
  apps/expo/package.json
  packages/design-system/icon/RotateCcw.svg
  packages/design-system/icon/RotateCcw.tsx
  packages/design-system/icon/RotateCw.svg
  packages/design-system/icon/RotateCw.tsx
  packages/design-system/icon/ZoomIn.svg
  packages/design-system/icon/ZoomIn.tsx
  packages/design-system/icon/ZoomOut.svg
  packages/design-system/icon/ZoomOut.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

feat: support startContentComponent
  packages/design-system/modal/modal.header.tsx
  packages/design-system/modal/types.ts
Owners: @axeldelafosse

feat: profile picture support crop
  apps/next/package.json
  apps/storybook-react-native/package.json
  packages/app/components/edit-profile.tsx
  packages/app/components/media-cropper/index.tsx
  packages/app/components/media-cropper/index.web.tsx
  packages/app/components/preview/index.tsx
  packages/app/lib/canvas-utils.ts
  packages/app/screens/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

chore: hide crop grid
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

fix: expo-update reloadAsync
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  packages/app/components/profile/index.tsx
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/transfer.tsx
  packages/app/components/unlist/index.tsx
  packages/app/components/unlist/unlisting-unavailable.tsx
  packages/app/types.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Fix/kill multiple owner list (#1366)
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/transfer.tsx
  packages/app/components/unlist/index.tsx
  packages/app/components/unlist/unlisting-unavailable.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/types.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

chore: add notes
  packages/app/components/media-cropper/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: improve claim button copy
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/claim/index.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: add new method for claim number
  packages/app/components/claim/gift-button.tsx
  packages/app/components/claim/index.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade moti
  apps/expo/package.json
  apps/next/next.config.js
  apps/storybook-react/.storybook/main.js
  package.json
  patches/moti+0.19.0-alpha.6.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix
  package.json
  yarn.lock
Owners: none

clean up deps
  .bitmap
  apps/expo/package.json
  package.json
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway

upgrade moti (#1368)
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  apps/storybook-react/.storybook/main.js
  patches/moti+0.19.0-alpha.6.patch
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  packages/app/components/drop/drop-form.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: resize profile img on native
  packages/app/components/edit-profile.tsx
  packages/design-system/file-picker/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

docs: add notes
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1369)
  packages/app/components/drop/drop-form.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/auth/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade nativewind
  apps/expo/package.json
  apps/expo/tailwind.config.js
  apps/next/tailwind.config.js
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

tmp fix
  packages/app/components/feed.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: disconnect and reconnect on native
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: improve reconnect wallet flow (#1371)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

test fix
  apps/expo/tailwind.config.js
  babel.config.js
Owners: @intergalacticspacehighway

fix: nft detail height
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/constants/layout.js
  packages/app/hooks/use-platform-bottom-height.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade react-native-bignumber
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v39.0.0
  package.json
Owners: none

fix: ModalScrenn when in BottomTab
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-modal-screen-view-style.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: adjust the form style
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-modal-screen-view-style.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

hide nft
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/context/profile-tabs-nft-context.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-hide-nft.ts
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

hide nft (#1375)
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/context/profile-tabs-nft-context.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-hide-nft.ts
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v39.0.1
  package.json
Owners: none

wip
  packages/app/components/card/card.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/hooks/use-hide-nft.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/profile/profile-tab-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
