Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1497)
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

make primary button
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

got carried away on refactors
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

got carried away on refactors
  apps/expo/App.tsx
Owners: @intergalacticspacehighway

fix
  packages/app/hooks/use-wallet/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/hooks/use-latest-value-ref.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.7
  package.json
Owners: none

add pressable hover
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  apps/storybook-react-native/.storybook/storybook.requires.js
  packages/app/navigation/tab-bar-icons.tsx
  packages/design-system/pressable-hover/index.tsx
  packages/design-system/pressable-hover/pressable-hover.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

rename component
  .bitmap
  apps/expo/package.json
  packages/design-system/pressable-hover/index.tsx
  packages/design-system/pressable-hover/pressable-hover.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

unify add wallet
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/lib/add-wallet/add-wallet.ts
  packages/app/lib/add-wallet/index.ts
  packages/app/lib/nonce/index.ts
  packages/app/lib/nonce/nonce.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use pressable hover for all buttons + header on desktop
  packages/app/components/header.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/design-system/button/button.tsx
  packages/design-system/pressable-hover/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.8
  package.json
Owners: none

wip
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove wallet
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove wallet
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

perf: notification badge use style to hide
  packages/app/navigation/tab-bar-icons.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove wallet
  packages/app/hooks/auth/use-wallet-login.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: set primary wallet if user doesn't have one
  packages/app/hooks/use-add-wallet.ts
  packages/app/lib/add-wallet/add-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

make green
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: drop limit popup
  packages/app/components/header.tsx
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

handle error if failed to upload on ipfs
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-upload-media-to-pinata.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove log
  packages/design-system/modal/modal.container.web.tsx
Owners: @axeldelafosse

wip
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1500)
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse

fix (#1502)
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse

refactor: imporve Alert on web
  apps/next/tailwind.config.js
  apps/storybook-react/tailwind.config.js
  packages/app/providers/swr-provider.web.tsx
  packages/design-system/alert/alert-container.tsx
  packages/design-system/alert/alert-container.web.tsx
  packages/design-system/alert/alert.tsx
  packages/design-system/alert/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: some nativewind height
  packages/app/components/media-cropper/index.web.tsx
  packages/app/screens/drop.tsx
  packages/app/screens/edit-profile.tsx
  packages/design-system/modal/constants.ts
  packages/design-system/modal/modal.container.web.tsx
  packages/design-system/modal/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile tabs shadow
  packages/app/components/profile/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: back swr provider
  packages/app/providers/swr-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: footer link
  packages/app/hooks/use-footer.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: video won't play unless muted
  packages/app/hooks/use-previous-value.ts
  packages/app/providers/mute-provider.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
