Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

upgrade gesture handler
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix storybook web
  apps/storybook-react/.storybook/main.js
Owners: @axeldelafosse

fix
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade reanimated and gesture-handler (#1533)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  apps/storybook-react/.storybook/main.js
  package.json
  packages/app/components/camera/vision-camera.tsx
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/light-box/light-box-modal.tsx
  packages/design-system/switch/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

redirect to claim or drop page after setting primary (#1535)
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @axeldelafosse

deps: upgrade react-navigation
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/navigation/bottom-tab-bar.tsx
  packages/design-system/tab-view/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

chore: upgrade components (#1536)
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

pass nsfw to create edition endpoint
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/verify-phone-number.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

obfuscate
  packages/app/hooks/use-manage-account.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: reassign phone number to another account (#1538)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/verify-phone-number.tsx
  packages/app/hooks/use-manage-account.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade nativewind
  apps/expo/package.json
  apps/expo/tailwind.config.js
  yarn.lock
Owners: @intergalacticspacehighway

remove next babel config
  apps/next/.babelrc.json
  apps/next/babel.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

fix: hooks warning
  packages/app/lib/react-navigation/bottom-tabs/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hooks warning
  packages/app/hooks/use-platform-bottom-height.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v58.0.0
  package.json
Owners: none

improve READMEs
  packages/app/README.md
  packages/design-system/README.md
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve README
  packages/design-system/README.md
Owners: @axeldelafosse

fix: android switch screen jitter
  apps/expo/App.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/privacy-and-security.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending/index.tsx
  packages/app/screens/claim.tsx
  packages/app/screens/drop.tsx
  packages/app/screens/nft.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: claim modal style
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/claim/claim.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: clean code
  packages/app/navigation/navigator-screen-options.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit: add new line before and after phone
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v59.0.0
  package.json
Owners: none

fix: pressing "more" in notifications should open profile's "owned" tab (#1542)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/card/rows/description.tsx
  packages/app/hooks/use-keyboard-dimensions.tsx
  packages/app/hooks/use-viewability-mount.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: video doesn't stop on unmounting (#1544)
  packages/app/components/card/rows/description.tsx
  packages/app/hooks/use-keyboard-dimensions.tsx
  packages/app/hooks/use-viewability-mount.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v59.0.1
  package.json
Owners: none

fix: nft desc too height on desktop
  packages/app/components/card/rows/description.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/design-system/clamp-text/clamp-text.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: improve tab on profile
  packages/app/components/profile/index.tsx
  packages/app/components/settings/index.tsx
  packages/app/hooks/use-scrollbar-size.ts
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.web.tsx
  packages/design-system/collapsible-tab-view/types.tsx
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean code
  packages/app/components/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: select country code on web
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/design-system/country-code-picker/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway
