Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: video won't play unless muted (#1504)
  packages/app/hooks/use-previous-value.ts
  packages/app/providers/mute-provider.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: improve bottom tab bar
  packages/app/lib/react-navigation/bottom-tabs/index.ts
  packages/app/navigation/bottom-tab-bar.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/navigation/tab-bar-button.tsx
  packages/app/navigation/tab-bar-icons.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.9
  package.json
Owners: none

fix
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: use react-native-blur
  apps/expo/package.json
  packages/app/lib/blurview/index.tsx
  packages/app/navigation/bottom-tab-bar.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: notification item broke
  packages/app/components/settings/settings-account-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: android support blur on feed
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/card/card.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: desc autoheight on android
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/index.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: blur effect on android
  packages/app/components/feed-item/index.tsx
  packages/app/lib/blurview/index.tsx
  packages/app/navigation/bottom-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: video not loading in grid on native (#1505)
  packages/app/components/card/card.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: ios tabbar shadow
  packages/design-system/tab-view/scrollable-tab-bar.tsx
Owners: @axeldelafosse

fix: phone wallet
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/lib/axios.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.10
  package.json
Owners: none

remove log
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: trendingTab sometimes can't view
  packages/app/pages/trending/index.tsx
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: blurview on web
  packages/app/lib/blurview/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: feed blurview
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean code
  packages/app/navigation/bottom-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v49.0.0
  package.json
Owners: none

remove connect check
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: tab bar text transform
  packages/design-system/tab-view/scrollable-tab-bar.tsx
Owners: @axeldelafosse

pushing to trigger redeployment :'(
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: bio does not wrap
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

verify phone number
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/settings/verify-phone-number.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-phone-number-slot.tsx
  packages/app/components/settings/verify-phone-number.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-manage-account.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/settings-verify-phone-number.tsx
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve phone number picker
  packages/app/components/login/phone-number-picker.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile deeplinking
  packages/app/components/header.tsx
  packages/app/hooks/use-is-online.tsx
  packages/app/navigation/linking.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile deeplinking (#1510)
  packages/app/components/header.tsx
  packages/app/hooks/use-is-online.tsx
  packages/app/navigation/linking.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v49.0.1
  package.json
Owners: none

fix: pressing tab refreshes the page
  packages/app/navigation/tab-bar-icons.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: pressing tab refreshes the page (#1511)
  packages/app/navigation/tab-bar-icons.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

version bump to 50.0.0
  package.json
Owners: none

release v51.0.0
  package.json
Owners: none

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
