Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix
  packages/design-system/snackbar/snackbar.tsx
Owners: @axeldelafosse

fix: bio too long
  packages/app/components/profile/profile-top.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix storybook
  apps/storybook-react/.storybook/preview.js
Owners: @axeldelafosse

fix: expand content
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse

fix: fieldset and drop form
  packages/app/components/drop/drop-form.tsx
  packages/design-system/fieldset/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix web crash
  packages/app/hooks/use-wallet-mobile-sdk.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: Accordion spacing
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: according spacing
  .bitmap
  apps/expo/package.json
  packages/design-system/accordion/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release infinite scroll
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: scroll restoration on web back/forward press (#1474)
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  apps/next/src/pages/_document.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release v48.0.0
  package.json
Owners: none

fix: some tw class not working
  apps/expo/tailwind.config.js
  packages/design-system/accordion/index.tsx
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

style: using tw array instead of string
  packages/design-system/accordion/index.tsx
  packages/design-system/tailwind/types.ts
Owners: @axeldelafosse

fix: type
  packages/design-system/tailwind/types.ts
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: add possibility to have an animated page header
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/types.tsx
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/tailwind/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v48.0.1
  package.json
Owners: none

fix
  .bitmap
  apps/expo/package.json
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: comment input disappeared in list
  .bitmap
  apps/expo/package.json
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/types.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: type & profile list router
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/pages/create/index.tsx
  packages/app/pages/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: Coinbase login option style
  packages/app/providers/wallet-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/providers/wallet-mobile-sdk-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/hooks/use-wallet/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: button spacing
  packages/design-system/button/constants.ts
Owners: @axeldelafosse

fix: comments input spacing
  packages/app/components/messages/message-box.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/design-system/tabs/tablib/index.web.tsx
Owners: @axeldelafosse

fix lint
  packages/design-system/alert/index.tsx
  packages/design-system/country-code-picker/index.tsx
Owners: @axeldelafosse

feat: override shareanimatedvalue and translateyvalue
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/hooks/use-refresh-value.tsx
  packages/design-system/collapsible-tab-view/types.tsx
Owners: @axeldelafosse

fix: coinbase wallet warning
  apps/expo/App.tsx
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  packages/app/hooks/api/use-add-wallet-nickname.ts
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: werid loading
  packages/app/components/card/rows/elements/ownership.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: footer spacing
  packages/app/components/footer/links-footer.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hover spacing
  packages/app/components/card/social/index.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/feed/comment-button.tsx
  packages/app/components/like-button/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
