Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

twitter app metatags
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/nft/[chainName]/[contractAddress]/[tokenId]/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  packages/app/components/edit-profile.tsx
  packages/app/providers/user-provider.tsx
  packages/design-system/tabs/tablib/components.tsx
  packages/design-system/tabs/tablib/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/design-system/tabs/tablib/components.tsx
Owners: @axeldelafosse

wip
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/edit-profile.tsx
  packages/app/utilities.ts
  packages/design-system/tabs/tablib/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: make profile required (#1350)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/providers/user-provider.tsx
  packages/app/utilities.ts
  packages/design-system/tabs/tablib/components.tsx
  packages/design-system/tabs/tablib/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v38.0.0
  package.json
Owners: none

fix: infinite list pagination
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-block.ts
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-notifications.ts
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: improve InfiniteScrollList
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: nofication infinite list
  packages/app/components/header.tsx
  packages/app/components/notifications/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: show missing signature requests message
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/providers/user-provider.tsx
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: show missing signature requests message
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: show missing signature requests message
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: initial tab-indicator width
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/trending/trending.md.tsx
  packages/design-system/tab-view/src/scene.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add wrap
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v38.0.1
  package.json
Owners: none

nits
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

twitter app metatags (#1353)
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/nft/[chainName]/[contractAddress]/[tokenId]/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

show reconnect wallet message on drop/claim (#1354)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/providers/user-provider.tsx
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v38.0.2
  package.json
Owners: none

fix: view NFT page go back
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notifaction list on small web
  packages/app/components/header.tsx
  packages/app/components/notifications/index.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

send `nfsw` query param to `poll-edition` endpoint
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-sign-typed-data.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/scroll-view/scroll-view.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

scroll to bottom when signature request missing message is shown (#1357)
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/missing-signature-message.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/scroll-view/scroll-view.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

nits
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit UI - gonna just merge this silently (#1358)
  packages/app/components/missing-signature-message.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

pick first libcrypto.so and libssl.so
  apps/expo/app.config.js
  apps/storybook-react-native/app.config.js
Owners: @intergalacticspacehighway, @axeldelafosse

nits (#1359)
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: edit-profile align & username
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v38.0.3
  package.json
Owners: none

use latest image
  apps/expo/eas.json
  apps/storybook-react-native/eas.json
Owners: @intergalacticspacehighway, @axeldelafosse

fix
  packages/app/hooks/use-viewability-mount.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

hide header
  packages/app/components/feed-item/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
