Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

improve loading screen
  apps/next/src/pages/spotify-auth/redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

make buttons bigger
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
  packages/app/lib/spotify/queryString.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim modal screen
  packages/app/components/claim/claim-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.9
  package.json
Owners: none

feat: claimed by
  packages/app/components/card/card.tsx
  packages/app/components/card/social/index.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/feed-item/claimed-by.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/header/header.tsx
  packages/app/components/header/index.tsx
  packages/app/components/liked-by/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
  packages/app/components/swipe-list.tsx
  packages/app/hooks/use-nft-detail-by-token-id.ts
  packages/design-system/avatar/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: card style
  packages/app/components/card/card.tsx
  packages/app/components/liked-by/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

show download app banner only when logged in
  packages/app/components/feed-item/feed-item.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: username
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.10
  package.json
Owners: none

wip
  packages/app/components/swipe-list.web.tsx
  packages/app/hooks/use-share-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/use-share-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: broken url in feed on mobile
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: good enough solution for NFT URLs in web SwipeList (#1602)
  packages/app/components/swipe-list.web.tsx
  packages/app/hooks/use-share-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: view likers list
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/likers.tsx
  packages/app/components/card/card.tsx
  packages/app/components/liked-by/index.tsx
  packages/app/components/likers-modal.tsx
  packages/app/hooks/api/use-likes.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/likers.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add nft dropdown option to open in native app from mobile web
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-share-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: liked by spacing
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/liked-by/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: bring back claimers num
  packages/app/components/claim/gift-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: change claimed hint to 10s
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: address bar folding when scroll
  apps/next/src/pages/_app.tsx
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

clean code
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.11
  package.json
Owners: none

clean code
  packages/app/lib/scheme.ts
  packages/app/providers/wallet-connect-provider.tsx
  packages/app/providers/wallet-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

don't show safari banner on home
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

use scheme
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim limit copy
  packages/app/components/claim/claim-limit-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.12
  package.json
Owners: none

fix: comments UI
  packages/app/components/comments/index.tsx
  packages/app/components/feed-item/claimed-by.tsx
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: add package
  apps/next/package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

feat: update profile tab
  packages/app/components/profile/profile.tsx
  packages/app/components/profile/profile.web.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: remove Page Settings tab
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade package
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: rename profile tab name
  packages/app/components/profile/profile.tsx
  packages/app/components/profile/profile.web.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.13
  package.json
Owners: none

release v64.0.0
  package.json
Owners: none

feat: drag/drop file
  package.json
  packages/app/components/drop/drop-form.tsx
  packages/app/components/preview/index.tsx
  packages/app/lib/drop-file-zone/index.ts
  packages/app/lib/drop-file-zone/index.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: drag/drop file on edit profile
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
