Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

feat: add unread notification indicator
  packages/app/components/notifications.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-notifications.ts
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: add unread notification indicator with suspense
  packages/app/components/notifications.tsx
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-notifications.ts
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: add time in notification
  packages/app/components/notifications.tsx
  packages/design-system/icon/MarketFilled.svg
  packages/design-system/icon/MarketFilled.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: add axios notifications mock
  apps/expo/__mocks__/axios.ts
Owners: @intergalacticspacehighway

prod and staging notification url
  apps/expo/.env.production
  apps/expo/.env.staging
Owners: @intergalacticspacehighway

feat: redirect to nft detail from notifications (#875)
  apps/expo/.env.production
  apps/expo/.env.staging
  apps/expo/__mocks__/axios.ts
  packages/app/components/notifications.tsx
  packages/app/components/swipe-list.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-nft-detail-by-token-id.ts
  packages/app/hooks/use-notifications.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/screens/nft.tsx
  packages/app/screens/notifications.tsx
  packages/design-system/icon/MarketFilled.svg
  packages/design-system/icon/MarketFilled.tsx
  packages/design-system/icon/index.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

upgrade to yarn berry
  .gitignore
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/lib/get-installation-id.ts
  packages/app/package.json
  packages/design-system/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

edit gh actions
  .github/wip-workflows/detox-android.yml
  .github/wip-workflows/detox-ios.yml
  .github/workflows/chromatic.yml
  .github/workflows/expo-preview.yml
  .github/workflows/expo-production.yml
  .github/workflows/expo-staging.yml
  .github/workflows/expo-storybook-preview.yml
  .github/workflows/lint.yml
Owners: @axeldelafosse

feat: edit profile screen
  apps/expo/package.json
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-link-options.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/edit-profile.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

feat: links in form
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: links in form
  packages/design-system/fieldset/index.tsx
Owners: @axeldelafosse

improve design + use transparent header
  packages/app/components/feed.tsx
  packages/app/components/header.tsx
  packages/app/components/profile.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/navigator-screen-options.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

stop doing force log out on error
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/lib/access-token-manager.ts
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

hide tab bar when not authenticated
  packages/app/navigation/next-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

clean code
  packages/app/components/header.tsx
  packages/app/components/search/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

nits
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

nits
  packages/app/hooks/use-nft-detail-by-token-id.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

update text color
  packages/app/components/feed/collection.tsx
  packages/app/components/feed/creator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix text color
  packages/app/components/nft-dropdown.tsx
  packages/app/components/swipe-list.tsx
  packages/design-system/like-button/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

open search by default to autofocus
  packages/app/components/login/phone-number-picker.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

username async validation
  apps/expo/package.json
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-validate-username.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

keyboard avoid view
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

reset state
  packages/app/components/edit-profile.tsx
  packages/app/components/profile.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/navigation/linking.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

cleanup
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

cleanup
  yarn.lock
Owners: none

cleanup
  packages/app/hooks/use-validate-username.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

block user from swipe list
  packages/app/components/nft-dropdown.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

delete log
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

cleanup
  packages/app/components/edit-profile.tsx
  packages/app/components/profile.tsx
  packages/app/hooks/use-validate-username.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: edit profile (#880)
  apps/expo/package.json
  packages/app/components/edit-profile.tsx
  packages/app/components/profile.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-link-options.ts
  packages/app/hooks/use-nft-detail-by-token-id.ts
  packages/app/hooks/use-validate-username.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/edit-profile.tsx
  packages/design-system/fieldset/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

add header offset in other screens
  packages/app/screens/edit-profile.tsx
  packages/app/screens/marketplace.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add header offset in other screens (#882)
  packages/app/screens/edit-profile.tsx
  packages/app/screens/marketplace.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: increment version
  package.json
Owners: none

chore: increment version number (#883)
  package.json
Owners: none

refactor: remove date separator when delete button is invisible
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse

refactor: added scrollable prop for modal
  packages/design-system/modal/body.tsx
  packages/design-system/modal/index.tsx
  packages/design-system/modal/types.ts
Owners: @axeldelafosse

fix: fixed comments screen on iOS
  packages/app/components/comments/index.tsx
  packages/app/screens/comments.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: edit profile and cover picture
  packages/app/components/edit-profile.tsx
  packages/design-system/icon/Upload.svg
  packages/design-system/icon/Upload.tsx
  packages/design-system/icon/index.ts
  packages/design-system/image-picker/pick-image.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: darkmode
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-link-options.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: darkmode
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
