Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

chore: version bump
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v65.0.0
  package.json
Owners: none

fix: remove useless import
  packages/app/lib/drop-file-zone/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claimers number
  packages/app/components/feed-item/claimed-by.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim left is not visible
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v65.0.1
  package.json
Owners: none

fix: avoid Twitter share username appear @@
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile nickname error
  packages/app/components/profile/profile-social.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: patch package packages
  apps/expo/package.json
  patches/react-native+0.69.6.patch
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway

fix: prevent feed refresh on claim
  packages/app/hooks/use-feed.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: prevent feed refresh on claim (#1613)
  packages/app/hooks/use-feed.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v65.0.2
  package.json
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

merge conflicts resolved
  apps/expo/package.json
  package.json
  packages/app/components/feed-item/claimed-by.tsx
  packages/app/components/profile/profile-social.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
  packages/app/hooks/use-feed.ts
  packages/app/lib/drop-file-zone/index.web.tsx
  packages/app/utilities.ts
  patches/react-native+0.69.6.patch
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

add new notifications types
  packages/app/components/notifications/nfts-display-name.tsx
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve drop/claim ui
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve drop/claim ui
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: Claimed renamed to Collected
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: console error warning
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header/index.tsx
  packages/app/components/profile/profile.web.tsx
  packages/app/navigation/link/link-core.web.tsx
  packages/app/navigation/link/link.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/providers/swr-provider.web.tsx
  packages/design-system/input/index.tsx
  packages/design-system/pinch-to-zoom/index.tsx
  packages/design-system/pinch-to-zoom/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: drop/claim UI improvements (#1616)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: PinchToZoom error log on web
  .bitmap
  apps/expo/package.json
  packages/design-system/pinch-to-zoom/index.ts
  packages/design-system/pinch-to-zoom/index.web.tsx
  packages/design-system/pinch-to-zoom/pinch-to-zoom.tsx
  packages/design-system/pinch-to-zoom/pinch-to-zoom.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: import
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

refator: setting tab
  packages/app/components/settings/index.ts
  packages/app/components/settings/index.tsx
  packages/app/components/settings/setting-edit-nickname-moda.tsx
  packages/app/components/settings/setting-header.tsx
  packages/app/components/settings/setting.tsx
  packages/app/components/settings/setting.web.tsx
  packages/app/components/settings/settings-phone-number-slot.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/components/settings/tabs/email.tsx
  packages/app/components/settings/tabs/index.tsx
  packages/app/components/settings/tabs/phone.tsx
  packages/app/components/settings/tabs/push-notifications.tsx
  packages/app/components/settings/tabs/wallets.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: import warning
  packages/app/components/header/header-center.tsx
  packages/app/components/header/header-left.tsx
  packages/app/components/header/header-right.tsx
  packages/app/components/header/header.tsx
  packages/app/components/header/header.web.tsx
  packages/app/components/header/index.ts
  packages/app/components/settings/index.ts
  packages/app/components/settings/setting.tsx
  packages/app/components/settings/setting.web.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/components/settings/tabs/email.tsx
  packages/app/components/settings/tabs/index.tsx
  packages/app/components/settings/tabs/phone.tsx
  packages/app/components/settings/tabs/wallets.tsx
  packages/app/lib/constants.ts
  packages/app/lib/react-navigation/bottom-tabs/index.ts
  packages/app/navigation/bottom-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: setting header on mobile web
  packages/app/components/settings/setting-header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add check to go back home on native
  packages/app/components/header/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

should be able to go back if viewing swipe list on web
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

feat: add wallet auto nickname
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login button on web
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/login/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: swipe list item on android
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

android: header fix
  packages/app/components/header/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix(android): swipelist and profile screen (#1622)
  packages/app/components/header/header.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v65.0.3
  package.json
Owners: none

fix: email slot style
  packages/app/components/settings/settings-email-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v65.0.4
  package.json
Owners: none

chore: upgrade dependencies
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  patches/@react-navigation+native+6.0.13.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

chore: upgrade dependencies (#1624)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  patches/@react-navigation+native+6.0.13.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: remove mov file support
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
