Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

feature(ukraine): mint to allow new royalties address
  apps/next-react/src/components/UI/Modals/MintModal.jsx
Owners: @TatisLois

feature(ukraine): copy updates
  apps/next-react/src/components/UI/Modals/MintModal.jsx
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

fix(): Activity Feed Character Breaking The App
  packages/app/components/activity/activity.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix(): Activity Feed Character Breaking The App (#862)
  packages/app/components/activity/activity.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): update modal to include styles and not owner flow
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-card.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/types.ts
  packages/app/utilities.ts
  packages/design-system/card/rows/elements/creator.tsx
  packages/design-system/card/rows/owner.tsx
  packages/design-system/modal/constants.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): include showtime marketplace abi
  packages/app/abi/ShowtimeV1Market.json
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): scaffold modal screen for listing nfts
  packages/app/components/list/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): add style to listing modal and card
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-card.tsx
  packages/app/components/list/listing-modal.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/types.ts
  packages/app/screens/list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): add approval flow with checks
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-card.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-modal.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-list-nft.ts
  packages/app/lib/constants.js
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): add listing tx support
  packages/app/components/list/listing-form.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-list-nft.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor(dropdown): update items for list and unlist (stub)
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

statusbar height in swipe-list
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add like button in storybook
  packages/app/components/feed/like.tsx
  packages/design-system/index.tsx
  packages/design-system/like-button/index.tsx
  packages/design-system/like-button/like-button.stories.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

profile modal
  packages/app/components/profile.tsx
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/trending.tsx
  packages/app/pages/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

trending nfts modal
  packages/app/components/feed/creator.tsx
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

trending creator swiper
  packages/app/components/swipe-list.tsx
  packages/design-system/creator-preview/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

trending creator swiper
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

optimise initial scroll on android
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

optimise initial scroll on android
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

optimise initial scroll on android
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

optimise initial scroll on android
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

gestures in swipe modal
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

gestures in swipe modal
  packages/app/components/profile.tsx
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: swipe list
  packages/app/components/profile.tsx
  packages/app/components/trending.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/pages/trending.tsx
  packages/app/screens/swipe-list-screens/profile-swipe-list.tsx
  packages/app/screens/swipe-list-screens/trending-creator-swipe-list.tsx
  packages/app/screens/swipe-list-screens/trending-nfts-swipe-list.tsx
  packages/design-system/creator-preview/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: swipe list
  apps/expo/package.json
  packages/app/components/swipe-list.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/root-stack-navigator.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: swipe list
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): support listing an nft to showtime marketplace
  packages/app/components/list/listing-form.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-list-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore(nftDrowndown): organize variable order
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): update reducer and copy values
  packages/app/components/list/listing-form.tsx
  packages/app/hooks/use-list-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): display icon tag only on default
  packages/app/components/list/listing-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Listing An NFT (#813)
  packages/app/abi/ShowtimeV1Market.json
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-card.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-modal.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-list-nft.ts
  packages/app/lib/constants.js
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/list.tsx
  packages/app/types.ts
  packages/app/utilities.ts
  packages/design-system/card/rows/elements/creator.tsx
  packages/design-system/card/rows/owner.tsx
  packages/design-system/modal/constants.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: scroll frame drops
  packages/app/components/swipe-list.tsx
  packages/app/components/viewability-tracker-flatlist.tsx
  packages/app/components/viewability-tracker-swipe-list.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

video enhancement
  packages/app/hooks/use-viewability-mount.ts
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

video config
  packages/app/components/swipe-list.tsx
  packages/app/context/video-config-context.ts
  packages/app/hooks/use-viewability-mount.ts
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

swipe list screen
  packages/app/components/feed.tsx
  packages/app/components/profile.tsx
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/pages/trending.tsx
  packages/app/screens/swipe-list-screens/profile-swipe-list.tsx
  packages/app/screens/swipe-list-screens/trending-creator-swipe-list.tsx
  packages/app/screens/swipe-list-screens/trending-nfts-swipe-list.tsx
  packages/app/screens/swipe-list.tsx
  packages/design-system/creator-preview/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

replace usenavigation with userouter
  packages/app/components/profile.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

cleanup
  packages/app/components/header.tsx
  packages/app/components/profile.tsx
  packages/app/components/swipe-list-modal.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/next-tab-navigator.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/pages/home.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

cleanup
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

cleanup
  yarn.lock
Owners: none

improve skeleton in profile
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
