Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

chore: version bump
  package.json
Owners: none

chore: version bump (#856)
  package.json
Owners: none

fix: sentry failing on eas
  apps/expo/.env.production
  apps/expo/app.config.js
  apps/expo/package.json
  package.json
  packages/app/lib/sentry/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: sentry failing on eas
  apps/expo/package.json
Owners: @intergalacticspacehighway

patch upload debug symbols
  apps/expo/patches/sentry-expo+4.1.0.patch
Owners: @intergalacticspacehighway

fix: sentry upload debug symbols failing (#857)
  apps/expo/.env.production
  apps/expo/app.config.js
  apps/expo/package.json
  apps/expo/patches/sentry-expo+4.1.0.patch
  package.json
  packages/app/lib/sentry/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

refactor: added support to middle nested comment
  packages/design-system/messages/message-row.stories.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse

refactor: added support to middle nested comment
  packages/app/components/comments/comment-row.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

new feed item
  packages/app/components/feed.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

bottom bar fix
  packages/app/components/feed.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

transparent header
  packages/app/components/feed.tsx
  packages/app/navigation/next-tab-navigator.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/pages/home.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

image resize mode
  packages/app/components/feed.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: image cropping
  packages/app/components/feed.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor: comment out comments pagination url params
  packages/app/hooks/api/use-comments.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: disable nested replies
  packages/app/components/comments/comment-row.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feed media
  packages/app/components/feed.tsx
  packages/app/components/header.tsx
  packages/app/pages/home.tsx
  packages/design-system/image/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

a/b testing
  packages/app/components/feed.tsx
  packages/app/components/header.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

dark mode
  packages/app/components/feed.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

a/b testing
  packages/app/components/feed.tsx
  packages/app/components/trending.tsx
  packages/app/pages/home.tsx
  packages/app/pages/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

a/b testing
  packages/app/components/feed.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add blurhash
  packages/app/components/feed.tsx
  packages/app/components/trending.tsx
  packages/design-system/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

hide scrollbars
  packages/app/components/feed.tsx
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

full blur
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(ukraine): donation page
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): ui and copy updates
  apps/next-react/public/img/ukraine-banner.jpg
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): ui and copy updates
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(mint): set royalties for magic users to zero
  packages/app/components/create.tsx
  packages/app/hooks/use-mint-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

clean code
  packages/app/components/feed.tsx
  packages/app/components/feed/collection.tsx
  packages/app/components/feed/description.tsx
  packages/app/components/feed/like.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

improve like button
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

improve like button
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

nft title
  packages/app/components/feed.tsx
  packages/app/components/feed/creator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

nft title
  packages/app/components/feed.tsx
  packages/app/components/feed/creator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

nits
  packages/app/pages/home.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: android header
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(mint): set royalties for magic users to zero (#861)
  packages/app/components/create.tsx
  packages/app/hooks/use-mint-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: swipe list component
  packages/app/components/feed.tsx
  packages/app/components/swipe-list.tsx
  packages/app/hooks/use-current-user-address.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Feature/ukraine page (#859)
  apps/next-react/public/img/ukraine-banner.jpg
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

swipe list in profile
  packages/app/components/feed.tsx
  packages/app/components/swipe-list.tsx
  packages/design-system/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

swipe list in profile
  packages/app/components/feed.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(ukraine): donation page
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
