Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

lazy load magic + remove web3modal
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/settings-email-slot.tsx
  packages/app/hooks/auth/use-magic-login.ts
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/lib/magic/index.ts
  packages/app/lib/magic/index.web.ts
  packages/app/lib/web3-modal.native.ts
  packages/app/lib/web3modal.web.ts
  packages/app/providers/auth-provider.tsx
  packages/app/providers/web3-provider.tsx
  packages/app/utilities.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use rainbowkit to add wallet on web
  packages/app/components/missing-signature-message.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: drop ux purge
  packages/app/components/drop/drop-form.tsx
  packages/app/screens/drop.tsx
  packages/design-system/accordion/animate-height.tsx
  packages/design-system/accordion/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update add wallet flow
  packages/app/hooks/use-add-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update app wallet flow
  packages/app/hooks/use-add-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: auto height of accordion
  packages/app/components/drop/drop-form.tsx
  packages/design-system/accordion/animate-height.tsx
  packages/design-system/accordion/animate-height.web.tsx
  packages/design-system/accordion/lib/index.web.tsx
  packages/design-system/scroll-view/scroll-view.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: warning
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix
  apps/next/src/pages/_app.tsx
  packages/app/lib/magic/index.web.ts
  packages/app/lib/magic/magic-load-listener.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1442)
  apps/next/src/pages/_app.tsx
  packages/app/lib/magic/index.web.ts
  packages/app/lib/magic/magic-load-listener.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  apps/next/src/pages/_app.tsx
  packages/app/lib/magic/index.web.ts
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: magic not initialising sometimes and not resetting address between accounts (#1443)
  apps/next/src/pages/_app.tsx
  packages/app/lib/magic/index.web.ts
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v45.0.0
  package.json
Owners: none

feat: remove Details dropdown
  packages/app/components/details.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use yarn resolution to force upgrade bn.js to 5.2.1
  package.json
  yarn.lock
Owners: none

wip
  packages/app/components/edit-profile.tsx
  packages/design-system/fieldset/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: use NativeWind shadow
  apps/expo/package.json
  apps/next/tailwind.config.js
  packages/app/components/card/card-skeleton.tsx
  packages/app/components/card/card.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/setting-header.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending.md.tsx
  packages/design-system/theme.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: drop UX purge
  packages/app/components/drop/drop-form.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/switch/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/design-system/fieldset/index.tsx
Owners: @axeldelafosse

lazy load wallet connect provider + start to lazy load ethers + remove unused code
  apps/expo/package.json
  apps/next/package.json
  apps/next/src/pages/api/marketplace/permit.ts
  apps/next/src/pages/wagmi-signature-test.tsx
  packages/app/components/buy.tsx
  packages/app/components/create.tsx
  packages/app/components/delete.tsx
  packages/app/components/list/index.tsx
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/transfer.tsx
  packages/app/components/unlist/index.tsx
  packages/app/components/unlist/unlisting-submit.tsx
  packages/app/components/unlist/unlisting-title.tsx
  packages/app/components/unlist/unlisting-unavailable.tsx
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/use-burn-nft.ts
  packages/app/hooks/use-buy-nft.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-list-nft.ts
  packages/app/hooks/use-mint-nft.ts
  packages/app/hooks/use-sign-typed-data.web.ts
  packages/app/hooks/use-transfer-nft.ts
  packages/app/hooks/use-unlist-nft.ts
  packages/app/providers/web3-provider.tsx
  packages/app/providers/web3-provider.web.tsx
  packages/app/screens/buy.tsx
  packages/app/screens/camera.tsx
  packages/app/screens/create.tsx
  packages/app/screens/delete.tsx
  packages/app/screens/list.tsx
  packages/app/screens/transfer.tsx
  packages/app/screens/unlist.tsx
  packages/app/utilities.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

update package
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: fieldset support Switch
  .bitmap
  apps/expo/package.json
  packages/app/components/drop/drop-form.tsx
  packages/design-system/fieldset/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: edit profile copy (#1447)
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/complete-profile-modal-content/complete-profile.png
  packages/app/components/complete-profile-modal-content/index.ts
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/media/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/constants/layout.ts
  packages/design-system/fieldset/index.tsx
  packages/design-system/video/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: fix version
  .bitmap
Owners: none

pacth: upgrade patch file version
  patches/react-native+0.69.5.patch
Owners: none

fix: change drop form copy
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

random wallet init
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/auth/use-wallet.ts
  packages/app/lib/random-wallet/index.ts
  packages/app/lib/random-wallet/random-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

random wallet init
  packages/app/hooks/auth/use-wallet.ts
  packages/app/lib/random-wallet/random-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/auth/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

random wallet
  .github/workflows/android-waldo-build.yml
  apps/expo/babel.config.js
  apps/expo/package.json
Owners: @axeldelafosse, @intergalacticspacehighway

random wallet
  packages/app/hooks/auth/use-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

clean up
  packages/app/components/create.tsx
  packages/app/components/delete.tsx
  packages/app/components/login/use-login.ts
  packages/app/components/missing-signature-message.tsx
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-current-user-address.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-wallet/index.ts
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-random-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
