Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: form draft max size error
  packages/app/components/drop/drop-form.tsx
  packages/design-system/file-picker/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: useFilePicker type
  packages/design-system/file-picker/index.ts
Owners: @axeldelafosse

fix: moti build error
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @axeldelafosse

fix: moti patch file
  apps/storybook-react-native/package.json
  patches/moti+0.21.0.patch
  yarn.lock
Owners: @axeldelafosse

fix: location claim button color
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v79.0.0
  package.json
Owners: none

staging
  apps/next/fake_file
Owners: @axeldelafosse, @intergalacticspacehighway

feat: file max size
  .bitmap
  apps/expo/package.json
  package.json
  packages/app/components/camera/camera-buttons.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-persist-form.ts
  packages/app/lib/drop-file-zone/index.ts
  packages/app/lib/drop-file-zone/index.web.tsx
  packages/app/lib/file-picker/index.ts
  packages/app/lib/image-picker/image-picker-button.tsx
  packages/app/lib/image-picker/index.ts
  packages/app/lib/image-picker/pick-image.ts
  packages/design-system/alert/alert.stories.tsx
  packages/design-system/alert/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: max size
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: max size
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove note
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: copy & alert
  .bitmap
  apps/expo/package.json
  packages/app/components/drop/drop-form.tsx
  packages/design-system/alert/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: image clip path
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

fix: collecting 440 error
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: profile suspension
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/components/profile/profile-404.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
  packages/app/components/profile/profile.web.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/navigation/link/index.tsx
  packages/app/navigation/link/link.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

chore: rename file
  packages/app/components/profile/profile-error.tsx
  packages/app/components/profile/profile.tsx
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: optimizing profile-error code
  packages/app/components/profile/profile-error.tsx
  packages/app/navigation/link/link-core.tsx
  packages/design-system/button/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

account screen ui
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/components/settings/tabs/index.tsx
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

account screen ui
  packages/app/components/settings/tabs/account.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

account screen ui
  packages/app/components/settings/setting.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit: account screen ui (#1725)
  packages/app/components/settings/setting.web.tsx
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/components/settings/tabs/index.tsx
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: user is shown undefined profile (#1726)
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v80.0.0
  package.json
Owners: none

fix: incorrect tab index
  packages/app/components/profile/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: “Unfollow User” in self-view
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: image border on Safari
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

remove async storage shim
  apps/expo/shim.js
Owners: @intergalacticspacehighway

fix: next image border
  apps/next/package.json
  apps/next/src/styles/styles.css
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix: update image css
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/bottom-sheet-scroll-view/bottom-sheet-scroll-view.tsx
  packages/app/components/bottom-sheet-scroll-view/index.ts
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-container.tsx
  packages/app/hooks/auth/use-magic-auth-redirect.ts
  packages/app/providers/magic-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: improve qrcode drop share
  apps/expo/app.config.js
  apps/expo/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/qr-code/index.ts
  packages/app/components/qr-code/qr-code.tsx
  packages/app/hooks/use-share-nft.ts
  packages/app/lib/qr-code/index.tsx
  packages/app/lib/qr-code/type.ts
  packages/app/lib/qr-code/utils.ts
  packages/app/lib/react-native-share/index.ts
  packages/app/lib/react-native-share/index.web.ts
  packages/app/lib/view-shot/index.ts
  packages/app/lib/view-shot/index.web.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/qr-code-share.tsx
  packages/design-system/icon/Eye.svg
  packages/design-system/icon/EyeOff.svg
  packages/design-system/icon/Location.svg
  packages/design-system/icon/Lock.svg
  packages/design-system/icon/ScanOutline.svg
  patches/react-native-share+8.0.0.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: update qrcode drop
  apps/next/package.json
  packages/app/components/nft-dropdown.tsx
  packages/app/components/qr-code/qr-code.tsx
  packages/app/lib/dom-to-image/index.ts
  packages/app/lib/dom-to-image/index.web.ts
  packages/app/lib/view-shot/index.ts
  packages/app/lib/view-shot/index.web.ts
  packages/design-system/haptics/haptics.ts
  packages/design-system/haptics/haptics.web.ts
  packages/design-system/icon/Download.svg
  packages/design-system/icon/Download.tsx
  packages/design-system/icon/Eye.tsx
  packages/design-system/icon/Eye/Hidden.svg
  packages/design-system/icon/Eye/Hidden.tsx
  packages/design-system/icon/Eye/Unhidden.svg
  packages/design-system/icon/Eye/Unhidden.tsx
  packages/design-system/icon/Eye/index.tsx
  packages/design-system/icon/EyeOff.tsx
  packages/design-system/icon/Location.tsx
  packages/design-system/icon/Lock.tsx
  packages/design-system/icon/ScanOutline.tsx
  packages/design-system/icon/eye-off.svg
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: remove react-qr-code
  apps/expo/package.json
  apps/next/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/icon/Download.tsx
  packages/design-system/icon/ScanOutline.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip (#1731)
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/bottom-sheet-scroll-view/bottom-sheet-scroll-view.tsx
  packages/app/components/bottom-sheet-scroll-view/index.ts
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-container.tsx
  packages/app/hooks/auth/use-magic-auth-redirect.ts
  packages/app/providers/magic-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: check installed Apps
  packages/app/components/qr-code/index.ts
  packages/app/components/qr-code/qr-code-modal.tsx
  packages/app/components/qr-code/qr-code.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
