Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: rudder stack is null (#1462)
  packages/app/components/camera/expo-camera.tsx
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/login/use-login.ts
  packages/app/components/profile-dropdown.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-share-nft.ts
  packages/app/lib/growthbook.ts
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Updated text
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Updated text
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: handle no internet connection case
  apps/expo/App.tsx
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/hooks/use-network-connection.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/providers/auth-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: button color
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

lazy load logrocket
  apps/expo/App.tsx
  packages/app/hooks/use-logrocket.ts
  packages/app/lib/rudderstack/rudderstack.ts
  packages/app/providers/user-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: useNetWorkConnection hooks
  apps/expo/App.tsx
  packages/app/hooks/use-network-connection.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/navigation/root-stack-navigator.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: replace expo-network
  packages/app/hooks/use-is-online.tsx
  packages/app/hooks/use-network-connection.tsx
  packages/app/providers/swr-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: remove expo-network
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

style: remove log
  packages/app/providers/swr-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v46.0.0
  package.json
Owners: none

fix: accordion auto height
  packages/design-system/accordion/animate-height.tsx
Owners: @axeldelafosse

deps: upgrade accordion component
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v47.0.0
  package.json
Owners: none

refactor: use tw css spin animation
  packages/design-system/spinner/spinner.web.tsx
Owners: @axeldelafosse

style: remove unnecessary class
  packages/design-system/spinner/spinner.web.tsx
Owners: @axeldelafosse

deps: upgrade design system packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

Add support for wallet mobile sdk
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/context/wallet-mobile-sdk-context.ts
  packages/app/hooks/use-wallet-mobile-sdk.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/navigation/linking.ts
  packages/app/providers/app-providers.tsx
  packages/app/providers/auth-provider.tsx
  packages/app/providers/coinbase-wallet-icon.png
  packages/app/providers/wallet-mobile-sdk-provider.tsx
  packages/app/providers/wallet-provider.tsx
  packages/app/providers/web3-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: claim limit of number
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use nativewind on native
  apps/expo/tailwind.config.js
  packages/app/components/preview/index.tsx
  packages/design-system/activity-indicator/index.tsx
  packages/design-system/dropdown-menu/index.tsx
  packages/design-system/pressable-scale/index.tsx
  packages/design-system/pressable/index.tsx
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/skeleton/index.tsx
  packages/design-system/text-input/index.tsx
  packages/design-system/text/index.tsx
  packages/design-system/video/index.web.tsx
  packages/design-system/view/index.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: timezone issue
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

stop using StyleSheet.flatten
  packages/design-system/collapsible-tab-view/scene.tsx
  packages/design-system/divider/index.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.tsx
  packages/design-system/input/index.tsx
  packages/design-system/model/index.tsx
  packages/design-system/select/select.web.tsx
Owners: @axeldelafosse

dark mode
  .bitmap
  apps/expo/package.json
  packages/app/providers/theme-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: header height
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: scroll restoration
  apps/next/next.config.js
  apps/next/src/pages/_document.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

release v47.0.1
  package.json
Owners: none

fix: scroll position
  apps/next/package.json
  apps/storybook-react/package.json
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  patches/next+12.2.5.patch
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

upgrade next and reanimated swc plugin
  apps/next/package.json
  apps/storybook-react/package.json
  package.json
  workspace.jsonc
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix
  apps/next/next.config.js
  apps/next/src/pages/_document.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

upgrade next and reanimated swc plugin (#1473)
  apps/next/package.json
  apps/storybook-react/package.json
  package.json
  workspace.jsonc
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve ColorSchemeProvider + use Tailwind hover for Pressable
  apps/storybook-react-native/.storybook/preview.js
  apps/storybook-react/.storybook/preview.js
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/media-cropper/index.web.tsx
  packages/app/components/messages/index.tsx
  packages/app/components/messages/message-box-new.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/navigation/tab-bar-button.tsx
  packages/app/providers/app-providers.tsx
  packages/app/providers/app-providers.web.tsx
  packages/design-system/color-scheme/color-scheme.tsx
  packages/design-system/color-scheme/context.tsx
  packages/design-system/color-scheme/hook.tsx
  packages/design-system/color-scheme/index.ts
  packages/design-system/color-scheme/provider.tsx
  packages/design-system/color-scheme/provider.web.tsx
  packages/design-system/color-scheme/store.tsx
  packages/design-system/color-scheme/store.web.tsx
  packages/design-system/light-box/provider.web.tsx
  packages/design-system/pressable-scale/index.tsx
  packages/design-system/pressable/index.tsx
  packages/design-system/select/lib/select-item.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1475)
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add renderabsolutebackgroundcontent
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/types.tsx
Owners: @axeldelafosse

use inline styles with PressableScale + clean Button and make it use Pressable
  packages/app/components/activity/activity-dropdown.tsx
  packages/app/components/camera/camera-buttons.tsx
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/card/social/button.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/header-dropdown.tsx
  packages/app/components/header.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/components/profile/profile-social.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/address-menu.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/clear-cache-btn.tsx
  packages/app/components/settings/email-input.tsx
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/providers/wallet-provider.tsx
  packages/design-system/button/button-label.tsx
  packages/design-system/button/button.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
  packages/design-system/image-picker/image-picker-button.tsx
  packages/design-system/index.tsx
  packages/design-system/input/index.tsx
  packages/design-system/pressable-scale/index.tsx
  packages/design-system/pressable-scale/pressable-scale.stories.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/button/button.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: clamp text not working
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse

Address feedback and use absolute imports
  packages/app/hooks/use-wallet-mobile-sdk.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/providers/auth-provider.tsx
  packages/app/providers/wallet-mobile-sdk-provider.tsx
  packages/app/providers/wallet-provider.tsx
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve styles
  packages/app/components/claim/claim-button.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/navigation/link/link.tsx
  packages/design-system/button/button.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  packages/design-system/input/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
