Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

noop commit to restart expo update
  apps/expo/App.tsx
Owners: @intergalacticspacehighway

feat: swipe list everywhere (#858)
  apps/expo/App.tsx
  apps/expo/package.json
  packages/app/components/feed.tsx
  packages/app/components/feed/collection.tsx
  packages/app/components/feed/creator.tsx
  packages/app/components/feed/description.tsx
  packages/app/components/feed/like.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending.tsx
  packages/app/components/viewability-tracker-flatlist.tsx
  packages/app/components/viewability-tracker-swipe-list.tsx
  packages/app/context/video-config-context.ts
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-current-user-address.ts
  packages/app/hooks/use-viewability-mount.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/pages/trending.tsx
  packages/app/screens/swipe-list.tsx
  packages/app/utilities.ts
  packages/design-system/creator-preview/index.tsx
  packages/design-system/image/index.tsx
  packages/design-system/index.tsx
  packages/design-system/like-button/index.tsx
  packages/design-system/like-button/like-button.stories.tsx
  packages/design-system/media/index.tsx
  packages/design-system/video/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: safari date parsing
  apps/next-react/src/components/ActivityCard.js
Owners: @TatisLois

fix(activity): format issue with timestamps
  apps/next-react/src/components/ActivityCard.js
Owners: @TatisLois

fix(activity): format issue with timestamps (#864)
  apps/next-react/src/components/ActivityCard.js
Owners: @TatisLois

chore: added comment button to new feed ui
  packages/app/components/feed/comment-button.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor: updated text button coloring
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
Owners: @axeldelafosse

chore: comment out replies until pagination is implemented
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse

refactor: updated comments screen loader
  packages/app/components/comments/index.tsx
  packages/app/screens/comments.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: remove app/ usage from message-row
  packages/app/components/comments/comment-row.tsx
  packages/design-system/messages/message-row.stories.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(ukraine): mint percentage
  apps/next-react/src/components/UI/Modals/MintModal.jsx
Owners: @TatisLois

feature(ukraine): redirect contract to charity page
  apps/next-react/next.config.js
Owners: @TatisLois

refactor(nftDropdown): update contract guard variable name
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(list): update copy to reflect product feedback
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-unavailable.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: version release
  package.json
  patches/sentry-expo+4.1.0.patch
Owners: none

chore: version release (#868)
  package.json
  patches/sentry-expo+4.1.0.patch
Owners: none

improve like and comment button
  packages/app/components/feed/comment-button.tsx
  packages/app/components/swipe-list.tsx
  packages/design-system/like-button/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

set comments modal bg color
  packages/app/screens/comments.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

upgrade wc and sentry-expo
  apps/expo/package.json
  apps/next-react-native/package.json
  apps/next-react/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @TatisLois

improve nft card design
  packages/app/components/feed.tsx
  packages/app/components/feed/collection.tsx
  packages/app/components/feed/creator.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/swipe-list.tsx
  packages/app/screens/swipe-list.tsx
  packages/design-system/like-button/index.tsx
  packages/design-system/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(ukraine): redirect contract to charity page (#866)
  apps/next-react/next.config.js
Owners: @TatisLois

Listing Copy (#867)
  packages/app/components/list/listing-form.tsx
  packages/app/components/list/listing-unavailable.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feature(ukraine): update landing page design
  apps/next-react/public/img/ukraine-banner.jpeg
  apps/next-react/public/img/ukraine-banner.jpg
  apps/next-react/public/img/ukraine-dao-pfp.jpeg
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): update landing page design
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): update copy from price to donate
  apps/next-react/src/components/SpotlightItem-ukraine.js
Owners: @TatisLois

feature(ukraine): update copy from price to donate
  apps/next-react/public/img/ukraine-banner.jpeg
  apps/next-react/public/img/ukraine-banner.png
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): update background banner on mobile
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

Ukraine Landing Page (#871)
  apps/next-react/public/img/ukraine-banner.jpg
  apps/next-react/public/img/ukraine-banner.png
  apps/next-react/public/img/ukraine-dao-pfp.jpeg
  apps/next-react/src/components/SpotlightItem-ukraine.js
  apps/next-react/src/pages/ukraine.jsx
Owners: @TatisLois

feature(ukraine): add the nft modal on charity page
  apps/next-react/src/components/SpotlightItem-ukraine.js
Owners: @TatisLois

feature(ukraine): add the nft modal on charity page (#872)
  apps/next-react/src/components/SpotlightItem-ukraine.js
Owners: @TatisLois

feat: api hooks
  package.json
  packages/app/components/notifications.tsx
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-notifications.ts
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: notification UI and api
  packages/app/components/notifications.tsx
  packages/app/hooks/use-notifications.ts
  packages/app/screens/notifications.tsx
  packages/design-system/icon/PlusFilled.svg
  packages/design-system/icon/PlusFilled.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: notification UI and api
  packages/app/components/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix(ukraine): in app routing
  apps/next-react/src/pages/[profile].js
Owners: @TatisLois

feat: notification text changes
  packages/app/components/notifications.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: notifications screen and api (#873)
  package.json
  packages/app/components/notifications.tsx
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-notifications.ts
  packages/app/screens/notifications.tsx
  packages/design-system/icon/PlusFilled.svg
  packages/design-system/icon/PlusFilled.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: redirect to nft detail from notifications
  packages/app/components/notifications.tsx
  packages/app/components/swipe-list.tsx
  packages/app/hooks/use-nft-detail-by-token-id.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix(ukraine): in app routing (#874)
  apps/next-react/src/pages/[profile].js
Owners: @TatisLois

fix(buy): after wallet check show proper view
  apps/next-react/src/components/UI/Modals/BuyModal.jsx
Owners: @TatisLois

fix(buy): after wallet check show proper view (#876)
  apps/next-react/src/components/UI/Modals/BuyModal.jsx
Owners: @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
