Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: ModalView space on android
  packages/app/hooks/use-modal-screen-view-style.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notifications list height on mobile web
  packages/app/components/notifications/index.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mobile web hide feature is not accessible (#1376)
  packages/app/components/card/card.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/hooks/use-hide-nft.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove biconomuy
  apps/next/package.json
  packages/app/global.d.ts
  packages/app/providers/biconomy-provider.tsx
  packages/app/utilities.ts
  patches/@biconomy+mexa+2.0.24.patch
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: web feed item height
  packages/app/components/feed-item/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

show alert on error 500 when drop or claim failed
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: type error
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: NFT detail style
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: local time issue
  packages/app/components/messages/message-row.tsx
  packages/app/hooks/use-expo-update.tsx
  packages/app/types.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove biconomy (#1378)
  apps/next/package.json
  packages/app/components/feed-item/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/global.d.ts
  packages/app/providers/biconomy-provider.tsx
  packages/app/screens/swipe-list.tsx
  packages/app/utilities.ts
  patches/@biconomy+mexa+2.0.24.patch
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade sentry and react-native
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile cropped social links
  packages/app/components/profile/profile-social.tsx
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/details.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/profile/profile-social.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: some ui issues and drop success skip redirection from bottom tabs (#1380)
  packages/app/components/details.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/profile/profile-social.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: compatible with old API time format
  packages/app/components/card/rows/elements/creator.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v39.0.2
  package.json
Owners: none

feat: use FlashList replace FlatList
  packages/app/components/notifications/index.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/complete-profile.png
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

load rudderstack with a web worker
  apps/next/next.config.js
  apps/next/src/pages/_app.tsx
  packages/app/lib/rudderstack/index.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

viewability tracker
  packages/app/components/claim/claim-form.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1382)
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/complete-profile.png
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

viewability tracker
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

adds onViewabilityItemChanged to inifinite scroll list (#1384)
  packages/app/components/claim/claim-form.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

move next/script out of next/head
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

lazy load model
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

lazy load model
  packages/design-system/model/index.tsx
Owners: @axeldelafosse

remove mixpanel and yup-lite-phone
  apps/expo/package.json
  apps/next/package.json
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/lib/mixpanel/index.ts
  packages/app/lib/mixpanel/index.web.ts
  packages/app/lib/yup.ts
  packages/app/providers/user-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

quick wins to reduce bundle size (#1385)
  apps/expo/package.json
  apps/next/package.json
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/components/media/index.tsx
  packages/app/lib/mixpanel/index.ts
  packages/app/lib/mixpanel/index.web.ts
  packages/app/lib/yup.ts
  packages/app/providers/user-provider.tsx
  packages/design-system/model/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

refactor: kill the FlatList
  packages/app/components/comments/comment-row.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header.tsx
  packages/app/components/nft-activity/activity-table.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

only reset if user was logged in
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: list height
  packages/app/components/comments/index.tsx
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: improve tab list
  apps/expo/package.json
  packages/app/types.ts
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/src/index.tsx
  packages/design-system/tab-view/src/scrollable-view/flat-list.tsx
  packages/design-system/tab-view/src/scrollable-view/index.tsx
  packages/design-system/tab-view/src/scrollable-view/scroll-view.tsx
  packages/design-system/tab-view/src/scrollable-view/section-list.tsx
  packages/design-system/tab-view/src/types.tsx
  packages/design-system/tab-view/tab-scene.tsx
  packages/design-system/tab-view/tab-spinner.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: import error
  packages/design-system/tab-view/src/create-header-tabs.web.tsx
  packages/design-system/tab-view/src/index.tsx
  packages/design-system/tab-view/src/scrollable-view/flat-list.tsx
  packages/design-system/tab-view/src/scrollable-view/section-list.tsx
  packages/design-system/tab-view/tab-view.stories.tsx
Owners: @axeldelafosse

release v40.0.0
  package.json
Owners: none

wipg
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wipg
  patches/expo-av+12.0.4.patch
Owners: none

remove patch
  patches/expo-av+12.0.4.patch
Owners: none
