Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: add expo-clipboard
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

update packages
  apps/next/next.config.js
  apps/next/package.json
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

use swc plugin for react-native-web
  apps/next/next.config.js
  apps/next/package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

clean code
  apps/storybook-react/next.config.js
Owners: @axeldelafosse

release v83.0.1
  package.json
Owners: none

feat: custom QR code style
  packages/app/lib/qr-code/index.tsx
  packages/app/lib/qr-code/type.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: qr code screen
  packages/app/components/bottom-sheet-scroll-view/bottom-sheet-scroll-view.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/qr-code/qr-code-modal.tsx
  packages/app/hooks/use-modal-screen-view-style.tsx
  packages/app/lib/qr-code/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: QR code spacing
  packages/app/components/qr-code/qr-code-modal.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: text capitalize
  packages/app/components/settings/tabs/push-notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  apps/next/src/styles/styles.css
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

feat: update download icon
  apps/next/public/assets/AppStoreDark.png
  apps/next/public/assets/AppStoreLight.png
  apps/next/public/assets/GooglePlayDark.png
  apps/next/public/assets/GooglePlayLight.png
  packages/app/components/feed/feed.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: ignore chromatic warning
  packages/design-system/date-time-picker/date-time-picker.stories.tsx
Owners: @axeldelafosse

release v83.0.2
  package.json
Owners: none

upgrade date picker
  packages/app/components/drop/drop-form.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add animation & controler to explanation
  apps/expo/package.json
  apps/next/package.json
  packages/app/components/explanation.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/lib/carousel/carousel.css
  packages/app/lib/carousel/carousel.tsx
  packages/app/lib/carousel/carousel.web.tsx
  packages/app/lib/carousel/controller.tsx
  packages/app/lib/carousel/index.ts
  packages/app/lib/carousel/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/collectors-modal.tsx
  packages/app/components/comments-modal.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/follow-modal.tsx
  packages/app/components/following-user-list.tsx
  packages/app/components/likers-modal.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/lib/linkify.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/collectors.tsx
  packages/app/screens/collectors.web.tsx
  packages/app/screens/comments.tsx
  packages/app/screens/comments.web.tsx
  packages/app/screens/followers.tsx
  packages/app/screens/followers.web.tsx
  packages/app/screens/following.tsx
  packages/app/screens/following.web.tsx
  packages/app/screens/likers.tsx
  packages/app/screens/likers.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v83.0.3
  package.json
Owners: none

fix: header title color
  packages/app/navigation/navigator-screen-options.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

pref: improve auto focus timeout
  packages/app/components/comments/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: replace modals with stack screens for user list components (#1749)
  packages/app/components/collectors-modal.tsx
  packages/app/components/comments-modal.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/follow-modal.tsx
  packages/app/components/following-user-list.tsx
  packages/app/components/likers-modal.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/lib/linkify.tsx
  packages/app/navigation/navigator-screen-options.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/collectors.tsx
  packages/app/screens/collectors.web.tsx
  packages/app/screens/comments.tsx
  packages/app/screens/comments.web.tsx
  packages/app/screens/followers.tsx
  packages/app/screens/followers.web.tsx
  packages/app/screens/following.tsx
  packages/app/screens/following.web.tsx
  packages/app/screens/likers.tsx
  packages/app/screens/likers.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v84.0.0
  package.json
Owners: none

feat: add date on notifications
  packages/app/components/notifications/notification-item.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: when date empty
  packages/app/components/notifications/notification-item.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: close claimSpotify modal
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v84.0.1
  package.json
Owners: none

feat: improve report
  apps/expo/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/components/report-modal.tsx
  packages/app/hooks/use-report.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/report.tsx
  patches/solito+1.0.12.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: add report text form
  .bitmap
  apps/expo/package.json
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/components/report-modal.tsx
  packages/design-system/accordion/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
