Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim limit increase phone verification alert (#1522)
  .bitmap
  apps/expo/package.json
  packages/app/components/login/login-input-field.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/design-system/alert/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v51.0.5
  package.json
Owners: none

fix: press tab key
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

allow magic to set primary wallet
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: import
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v51.0.6
  package.json
Owners: none

allow magic to set primary wallet (#1525)
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: phone number can't remove
  packages/app/components/settings/dropdown-menu.tsx
  packages/app/components/settings/settings-email-slot.tsx
  packages/app/components/settings/settings-phone-number-slot.tsx
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove phone number
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-phone-number-slot.tsx
  packages/app/hooks/use-manage-account.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: new drop/claim endpoints. a.k.a 🧈 drop and claim (#1427)
  apps/expo/App.tsx
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/add-wallet-or-set-primary/index.ts
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/header.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-add-wallet.web.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-latest-value-ref.ts
  packages/app/hooks/use-manage-account.ts
  packages/app/hooks/use-wallet/types.ts
  packages/app/hooks/use-wallet/use-wallet.ts
  packages/app/hooks/use-wallet/use-wallet.web.ts
  packages/app/lib/add-wallet/add-wallet.ts
  packages/app/lib/add-wallet/index.ts
  packages/app/lib/nonce/index.ts
  packages/app/lib/nonce/nonce.ts
  packages/app/types.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v51.0.7
  package.json
Owners: none

version bump
  package.json
Owners: none

wip
  apps/expo/package.json
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/verify-phone-number.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/verify-phone-number.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/verify-phone-number.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hook error
  packages/app/pages/home/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: redirect from settings to claim on native
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: redirection
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
  packages/app/hooks/use-redirect-to-claim-drop.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

new drop/claim UX improvements (#1527)
  apps/expo/package.json
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/settings/add-email.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/verify-phone-number.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/pages/home/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v52.0.1
  package.json
Owners: none

remove bump version same commit check
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

release v53.0.0
  package.json
Owners: none

fix: claim/drop explanation
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

pin gesture handler version
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

pin gesture handler version (#1528)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release v54.0.0
  package.json
Owners: none

gesture handler resolve to 2.6.1
  package.json
Owners: none

release v55.0.0
  package.json
Owners: none

deps: downgrade gesture handler
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release v56.0.0
  package.json
Owners: none

fix: disconnected wallet claim
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: disconnected wallet claim (#1530)
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: nit
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: eas cache burst
  apps/expo/eas.json
Owners: @intergalacticspacehighway

fix: upgrade coinbase wallet sdk
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v57.0.0
  package.json
Owners: none

fix
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: waldo tests
  packages/app/hooks/use-wallet/use-random-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: get user address if disconnected user tries to claim old drops (#1532)
  apps/expo/eas.json
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-wallet/use-random-wallet.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

upgrade reanimated
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/camera/vision-camera.tsx
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/light-box/light-box-modal.tsx
  packages/design-system/switch/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
