Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/feed/feed.md.tsx
  packages/app/components/viewability-tracker-infinite-scroll-list.tsx
  packages/app/hooks/use-viewability-mount.ts
  packages/app/lib/infinite-scroll-list/index.web.tsx
  packages/app/video-nfts.json
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade expo-av (#1387)
  apps/expo/package.json
  patches/expo-av+12.0.2.patch
  yarn.lock
Owners: @intergalacticspacehighway

fix: claim total copy
  packages/app/components/claim/gift-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/context/web3-context.ts
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-current-user-address.ts
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1388)
  packages/app/context/web3-context.ts
  packages/app/hooks/auth/use-wallet.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-current-user-address.ts
  packages/app/providers/web3-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v40.0.1
  package.json
Owners: none

feat: add claim btn to feed
  packages/app/components/claim/claim-button.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed/feed.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add claim btn to card
  packages/app/components/card/card.tsx
  packages/app/components/card/rows/description.tsx
  packages/app/components/card/social/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: support multi clamp text
  packages/design-system/multi-clamp-text/index.tsx
  packages/design-system/multi-clamp-text/use-clamp-text.tsx
  packages/design-system/multi-clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse

fix: ui
  packages/app/components/feed-item/details.tsx
  packages/design-system/multi-clamp-text/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v40.0.2
  package.json
Owners: none

fix: add expo-av patch
  apps/storybook-react-native/package.json
  patches/expo-av+12.0.4.patch
  yarn.lock
Owners: @axeldelafosse

fix: setting error
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: FlashList applting to Tab
  apps/expo/package.json
  package.json
  packages/app/components/card/card-skeleton.tsx
  packages/app/components/profile/footer.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/creators-list.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
  packages/app/lib/recyclerlistview/index.ts
  packages/app/lib/recyclerlistview/index.web.ts
  packages/app/screens/profile.tsx
  packages/design-system/tab-view/src/scene-flash-list.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  packages/design-system/tab-view/tab-scene.tsx
  patches/recyclerlistview+4.1.1.patch
  patches/recyclerlistview+4.1.3.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: profile sticky element style
  packages/app/components/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: comments input not visible
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: typo error
  packages/app/hooks/use-modal-list-props.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v40.0.3
  package.json
Owners: none

chorE: upgrade deps
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

style: clean old list code
  packages/app/components/card/card.tsx
  packages/app/components/card/rows/title.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
  packages/design-system/tooltip/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: modal list not visible
  packages/app/hooks/use-modal-list-props.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: patch
  patches/react-native+0.69.4.patch
Owners: none

feat: add gridItemProps & adjust card
  packages/app/components/card/card.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/design-system/tab-view/src/hooks/use-scene-info.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

chore: upgrade dependencies (#1393)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  patches/react-native+0.69.4.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: card style
  packages/app/components/card/card.tsx
  packages/app/components/media/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/trending/trending.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove expo cli
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: 3D modal size
  packages/design-system/model/index.tsx
Owners: @axeldelafosse

update push notifications preferences
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/hooks/use-footer.ts
  packages/app/hooks/use-push-notifications-preferences.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

notes: remove todo & add note
  packages/app/components/card/rows/title.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: push preferences style
  packages/app/components/settings/index.tsx
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v41.0.0
  package.json
Owners: none

release v41.0.1
  package.json
Owners: none

fix: Trending view index
  packages/app/components/trending/nfts-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove log
  packages/app/components/trending/nfts-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v41.0.2
  package.json
Owners: none

fix: cancel expo-update limit
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: expo-update hooks
  packages/app/hooks/use-expo-update.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mute button location
  packages/app/components/feed-item/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/design-system/video/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mute button location web
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse

add videos test data
  packages/app/test-videos.js
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
