Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

wip
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

link assets in a monorepo
  patches/@bacons+link-assets+1.0.0.patch
Owners: none

uncomment link asset config plugin
  apps/expo/app.config.js
Owners: @intergalacticspacehighway

install react-native-quick-crypto
  apps/expo/babel.config.js
  apps/expo/package.json
  apps/expo/shim.js
  package.json
  yarn.lock
Owners: @intergalacticspacehighway

update some patches
  patches/react-native+0.69.1.patch
  patches/react-native+0.69.3.patch
  patches/recyclerlistview+4.1.1.patch
Owners: none

replace base64-js with react-native-quick-base64
  patches/react-native+0.69.3.patch
Owners: none

fix: activity modal should fallback to user address if username is null (#1321)
  packages/app/components/nft-activity/nft-activity.types.ts
  packages/app/components/nft-activity/table-row.tsx
  packages/app/components/nft-activity/user-item.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix patch
  patches/react-native+0.69.3.patch
Owners: none

upgrade @bacons/link-assets
  apps/expo/package.json
  patches/@bacons+link-assets+1.0.0.patch
  yarn.lock
Owners: @intergalacticspacehighway

install react-native-bignumber
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/hooks/auth/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1324)
  packages/app/hooks/auth/use-wallet.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: use new notifacation schema
  packages/app/components/notifications.tsx
  packages/app/components/notifications/actors.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/notifications/notification-item.tsx
  packages/app/hooks/api/use-followers-list.ts
  packages/app/hooks/auth/use-wallet.web.ts
  packages/app/hooks/use-notifications.ts
  packages/app/hooks/use-share-nft.ts
  packages/app/lib/constants.ts
  packages/app/lib/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v33.0.0
  package.json
Owners: none

fix: import
  packages/app/components/notifications/actors.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: actor field
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wi
  packages/app/hooks/use-drop-nft.ts
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wi (#1326)
  packages/app/hooks/use-drop-nft.ts
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use babel plugin for expo + update tailwind config content
  apps/expo/babel.config.js
  apps/expo/tailwind.config.js
  apps/next/tailwind.config.js
Owners: @intergalacticspacehighway, @axeldelafosse

upgrade babel + some other deps
  apps/expo/package.json
  apps/next/package.json
  apps/storybook-react-native/package.json
  apps/storybook-react/package.json
  package.json
  packages/design-system/extensions/react-native-web/react-native-web.main.runtime.ts
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: feed-item more button color
  packages/app/components/card/card.tsx
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: adjust empty comment position
  packages/app/components/comments/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notification
  packages/app/components/notifications/notification-item.tsx
  packages/app/lib/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade nativewind and expo-cli
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

drop it like it's hot
  packages/app/components/footer/index.tsx
  packages/app/components/header.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/navigation/types.ts
  packages/app/pages/create.tsx
  packages/app/pages/create/index.tsx
  packages/app/pages/create/index.web.tsx
  packages/app/screens/drop.tsx
  packages/design-system/modal-screen/with-modal-screen.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: deeplinking (#1322)
  apps/expo/app.config.js
  apps/next/next.config.js
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
  packages/app/navigation/linking.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: claimed by issue
  packages/app/components/notifications/notification-item.tsx
  packages/app/hooks/use-notifications.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v34.0.0
  package.json
Owners: none

mark a drop as nsfw
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-mint-nft.ts
  packages/app/hooks/use-upload-media-to-pinata.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add /t links
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

use @babel/plugin-proposal-numeric-separator
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: missing /t/* links in deeplinks (#1330)
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
Owners: @axeldelafosse, @intergalacticspacehighway

fix: video bg-blur not working
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: forwardRef warning
  packages/app/components/trending/nfts-list.tsx
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: setState waining
  packages/app/components/profile/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/index.tsx
  packages/app/hooks/use-tab-state.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Fix like race-condition for optimistic update + not being able to keep up with state updates
  packages/app/context/like-context.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Expose commentsCount from use-comments hook
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed/comment-button.tsx
  packages/app/hooks/api/use-comments.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Fix import path
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed/comment-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: tabState hooks
  packages/app/hooks/use-tab-state.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
