Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: rename variable
  packages/design-system/color-scheme/provider.tsx
  packages/design-system/color-scheme/provider.web.tsx
Owners: @axeldelafosse

fix: copy
  packages/app/components/nft-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: update yarn.lock
  yarn.lock
Owners: none

upgrade to expo sdk 47
  apps/expo/app.config.js
  apps/expo/babel.config.js
  apps/expo/package.json
  apps/next/package.json
  apps/storybook-react-native/app.config.js
  apps/storybook-react-native/package.json
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: image size incorrect on web
  apps/expo/package.json
  packages/design-system/image/image.web.tsx
  packages/design-system/pinch-to-zoom/pinch-to-zoom.web.tsx
  packages/design-system/video/index.web.tsx
  patches/expo-av+12.0.4.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: copy tooltip gets hidden
  apps/expo/package.json
  packages/app/components/login/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

comment social buttons
  packages/app/components/login/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: expo-av build error
  apps/expo/package.json
  patches/expo-av+12.0.4.patch
  yarn.lock
Owners: @intergalacticspacehighway

fix: yarn.lock
  yarn.lock
Owners: none

wip: social logins (#1661)
  .bitmap
  apps/next/package.json
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/connect-button/connect-button.web.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-button.tsx
  packages/app/components/login/login-footer.tsx
  packages/app/components/login/login-header.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/components/login/login-with-twitter.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/hooks/auth/use-magic-login.ts
  packages/app/lib/magic/magic.ts
  packages/app/providers/magic-provider.web.tsx
  packages/app/utilities.ts
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
  packages/design-system/modal/modal.container.web.tsx
  packages/design-system/tailwind/colors.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v77.0.0
  package.json
Owners: none

don't pass email to login endpoint for social logins
  apps/next/src/pages/magic-oauth-redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: wallet login and email issue
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-overlays.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: wallet login and email issue (#1691)
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-overlays.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v78.0.0
  package.json
Owners: none

experiment
  apps/next/next.config.js
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/swipe-list.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/components/login/login-with-twitter.tsx
  packages/app/hooks/use-add-wallet.ts
  packages/app/lib/social-logins/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

magic redirects
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-button.tsx
  packages/app/components/login/login-header.tsx
  packages/app/context/auth-context.ts
  packages/app/lib/axios.ts
  packages/app/lib/social-logins/index.ts
  packages/app/providers/auth-provider.tsx
  packages/app/providers/user-provider.tsx
  packages/app/screens/login.tsx
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/components/login/login-with-twitter.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/lib/social-logins/index.ts
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: dropdown icon support iOS
  .bitmap
  apps/expo/package.json
  packages/app/components/header-dropdown.tsx
  packages/app/components/login/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
  packages/design-system/dropdown-menu/index.tsx
  packages/design-system/icon/icon.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: dropdown on android
  packages/app/components/header-dropdown.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
  packages/design-system/dropdown-menu/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

notes: add comment
  packages/design-system/dropdown-menu/index.tsx
Owners: @axeldelafosse

release v78.0.1
  package.json
Owners: none

wip
  packages/app/components/settings/tabs/account.tsx
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-manage-account.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/login/index.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/settings/tabs/account.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  apps/next/src/pages/magic-oauth-redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  packages/app/lib/social-logins/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notification list height on desktop
  packages/app/components/notifications/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add Github link
  packages/app/components/footer/links-footer.web.tsx
  packages/app/hooks/use-footer.ts
  packages/app/navigation/link/link.tsx
  packages/design-system/icon/Github.svg
  packages/design-system/icon/Github.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: profile picture not display
  .bitmap
  apps/expo/package.json
  packages/app/components/card/card.tsx
  packages/design-system/image/image.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

Connect social (#1694)
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-button.tsx
  packages/app/components/login/login-header.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/components/login/login-with-twitter.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/context/auth-context.ts
  packages/app/hooks/use-add-wallet.ts
  packages/app/hooks/use-manage-account.ts
  packages/app/lib/axios.ts
  packages/app/lib/social-logins/index.ts
  packages/app/providers/auth-provider.tsx
  packages/app/providers/user-provider.tsx
  packages/app/screens/login.tsx
  packages/app/types.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/drop/drop-form.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-creator-collection-detail.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1699)
  packages/app/components/drop/drop-form.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/use-creator-collection-detail.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
