Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

claim button
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

spotify_url
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

spotify_url
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.0
  package.json
Owners: none

feat: native header
  packages/app/components/header-dropdown.tsx
  packages/app/components/header/header.tsx
  packages/app/components/header/header.web.tsx
  packages/app/components/header/index.tsx
  packages/app/components/profile/profile.tsx
  packages/app/pages/profile/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: claim left
  apps/next/src/pages/_app.tsx
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-tank-explanation.tsx
  packages/app/components/explanation.tsx
  packages/app/components/header-dropdown.tsx
  packages/app/components/header/header.tsx
  packages/app/components/header/index.tsx
  packages/app/components/media/index.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/pages/profile/index.tsx
  packages/app/screens/claim-tank-explanation.tsx
  packages/app/types.ts
  packages/design-system/icon/InformationCircle.svg
  packages/design-system/icon/InformationCircle.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
  packages/design-system/modal-screen/with-modal-screen.tsx
  packages/design-system/modal/modal.screen.ios.tsx
  packages/design-system/modal/types.ts
  packages/design-system/pressable-hover/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: first video not playing
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: first video not playing (#1584)
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: initial window visible items
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

reset state on press
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-redirect-to-claim-drop.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

webview
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-save-spotify-token.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/spotify-auth-redirect.tsx
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: adjust copy & styles
  apps/next/src/pages/_app.tsx
  packages/app/components/claim/claim-limit-explanation.tsx
  packages/app/components/claim/claim-tank-explanation.tsx
  packages/app/components/header/header.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/api/use-follow-list.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/claim-limit-explanation.tsx
  packages/app/screens/claim-tank-explanation.tsx
  packages/app/utilities.ts
  packages/design-system/chip/index.tsx
  packages/design-system/tab-view/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: release Chip & upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/chip/chip.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: import
  packages/app/components/profile/profile-top.tsx
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: add Chip to config
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

fix: typo error
  apps/next/src/pages/_app.tsx
  packages/app/components/header/header.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/claim-limit-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile initial load
  packages/app/components/profile/profile.web.tsx
  packages/app/hooks/api/use-follow-list.ts
  packages/design-system/button/types.ts
  packages/design-system/pressable/index.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.1
  package.json
Owners: none

show snackbar to display claiming status
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/claim/claim.tsx
  packages/app/context/claim-context.ts
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-share-nft.ts
  packages/app/providers/app-providers.tsx
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/claim-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: claim limit scrren router name
  packages/app/components/profile/profile-top.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update snackbar hide timeout
  packages/app/hooks/use-claim-nft.ts
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: snackbar not visable on modalScreen
  packages/design-system/modal-screen/with-modal-screen.tsx
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  apps/expo/package.json
Owners: @intergalacticspacehighway

wip
  react-native-spotify-remote/CHANGELOG.md
  react-native-spotify-remote/CONTRIBUTING.md
  react-native-spotify-remote/LICENSE.md
  react-native-spotify-remote/README.md
  react-native-spotify-remote/RNSpotifyRemote.podspec
  react-native-spotify-remote/index.js
  react-native-spotify-remote/package.json
  react-native-spotify-remote/react-native.config.js
  react-native-spotify-remote/src/Album.ts
  react-native-spotify-remote/src/ApiConfig.ts
  react-native-spotify-remote/src/ApiScope.ts
  react-native-spotify-remote/src/Artist.ts
  react-native-spotify-remote/src/ContentItem.ts
  react-native-spotify-remote/src/ContentType.ts
  react-native-spotify-remote/src/CrossfadeState.ts
  react-native-spotify-remote/src/GetChildrenItemsOptions.ts
  react-native-spotify-remote/src/PlaybackOptions.ts
  react-native-spotify-remote/src/PlaybackRestrictions.ts
  react-native-spotify-remote/src/PlayerContext.ts
  react-native-spotify-remote/src/PlayerState.ts
  react-native-spotify-remote/src/RecommendedContentOptions.ts
  react-native-spotify-remote/src/RepeatMode.ts
  react-native-spotify-remote/src/SpotifyAuth.ts
  react-native-spotify-remote/src/SpotifyRemote.ts
  react-native-spotify-remote/src/SpotifySession.ts
  react-native-spotify-remote/src/Track.ts
  react-native-spotify-remote/src/TypedEventEmitter.ts
  react-native-spotify-remote/src/index.ts
  react-native-spotify-remote/src/libs/react-native-events.d.ts
  react-native-spotify-remote/tsconfig.json
  react-native-spotify-remote/typedoc.json
  yarn.lock
Owners: none

working build
  react-native-spotify-remote/android/build.gradle
  react-native-spotify-remote/android/external/SpotifySDK/app-remote-lib/CHANGELOG.md
  react-native-spotify-remote/android/external/SpotifySDK/app-remote-lib/ERRORS.md
  react-native-spotify-remote/android/external/SpotifySDK/app-remote-lib/README.md
  react-native-spotify-remote/android/external/SpotifySDK/app-remote-lib/build.gradle
  react-native-spotify-remote/android/external/SpotifySDK/app-remote-lib/spotify-app-remote-release-0.7.0.aar
  react-native-spotify-remote/android/src/main/java/com/reactlibrary/Convert.java
  react-native-spotify-remote/android/src/main/java/com/reactlibrary/RNSpotifyRemoteAppModule.java
  react-native-spotify-remote/android/src/main/java/com/reactlibrary/RNSpotifyRemoteAuthModule.java
  react-native-spotify-remote/android/src/main/java/com/reactlibrary/RNSpotifyRemotePackage.java
  yarn.lock
Owners: none

delete remote package
  apps/expo/App.tsx
  react-native-spotify-remote/package.json
  react-native-spotify-remote/src/SpotifyRemote.ts
  react-native-spotify-remote/src/index.ts
Owners: @intergalacticspacehighway

fix: claim limit bugs
  packages/app/components/profile/profile-top.tsx
  packages/app/screens/claim-limit-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/expo/App.tsx
  yarn.lock
Owners: @intergalacticspacehighway

wip
  apps/expo/App.tsx
  react-native-spotify-remote/android/build.gradle
  react-native-spotify-remote/android/external/SpotifySDK/LICENSE
  react-native-spotify-remote/android/external/SpotifySDK/NOTICE
  react-native-spotify-remote/android/external/SpotifySDK/auth-lib/CHANGELOG.md
  react-native-spotify-remote/android/external/SpotifySDK/auth-lib/README.md
  react-native-spotify-remote/android/external/SpotifySDK/auth-lib/build.gradle
  react-native-spotify-remote/android/external/SpotifySDK/auth-lib/spotify-auth-release-2.0.1.aar
  react-native-spotify-remote/android/external/SpotifySDK/gradle/wrapper/gradle-wrapper.jar
  react-native-spotify-remote/android/external/SpotifySDK/gradle/wrapper/gradle-wrapper.properties
  yarn.lock
Owners: @intergalacticspacehighway

wip
  react-native-spotify-remote/README.md
  react-native-spotify-remote/ios/RNSpotifyRemote.h
  react-native-spotify-remote/ios/RNSpotifyRemote.xcodeproj/project.pbxproj
  react-native-spotify-remote/ios/RNSpotifyRemoteAppRemote.h
  react-native-spotify-remote/ios/RNSpotifyRemoteAppRemote.m
  react-native-spotify-remote/package.json
  yarn.lock
Owners: none

wip
  yarn.lock
Owners: none

fix: toast & snackbar overlay
  apps/storybook-react-native/package.json
  packages/app/hooks/use-expo-update.tsx
  packages/app/hooks/use-network-connection.tsx
  packages/app/hooks/use-platform-bottom-height.ts
  packages/app/lib/react-navigation/bottom-tabs/index.ts
  packages/app/navigation/bottom-tab-bar.tsx
  packages/design-system/modal-screen/with-modal-screen.tsx
  packages/design-system/pan-to-close/index.tsx
  packages/design-system/snackbar/index.tsx
  packages/design-system/snackbar/snackbar-container.tsx
  packages/design-system/snackbar/snackbar-container.web.tsx
  packages/design-system/snackbar/snackbar.stories.tsx
  packages/design-system/snackbar/snackbar.tsx
  packages/design-system/toast/toast-container.tsx
  packages/design-system/toast/toast-container.web.tsx
  packages/design-system/toast/toast.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  apps/expo/App.tsx
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-save-spotify-token.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/index.ts
  packages/app/lib/spotify/spotify.native.ts
  packages/app/lib/spotify/spotify.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/spotify.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim limit copy
  packages/app/components/claim/claim-limit-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update like button position on desktop
  packages/app/components/card/social/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
