Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: android auth spotify
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/index.ts
  packages/app/lib/spotify/spotify.android.ts
  packages/app/lib/spotify/spotify.ts
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: android auth spotify
  apps/next/src/pages/spotify-auth/redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: android auth spotify (#1650)
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/index.ts
  packages/app/lib/spotify/spotify.android.ts
  packages/app/lib/spotify/spotify.ts
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v68.0.4
  package.json
Owners: none

nit: fix empty nft screen
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: new swipe list layout on web
  apps/next/src/pages/_app.tsx
  apps/next/tailwind.config.js
  packages/app/components/claim/claim-button.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/footer/index.tsx
  packages/app/components/header/header-right.tsx
  packages/app/components/header/header.web.tsx
  packages/app/components/profile/profile.web.tsx
  packages/app/constants/layout.ts
  packages/app/hooks/use-platform-bottom-height.ts
  packages/app/lib/react-navigation/elements/index.web.ts
  packages/app/providers/claim-provider.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mention regex
  packages/app/lib/linkify.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit: fix empty nft screen (#1651)
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mention regex (#1652)
  packages/app/lib/linkify.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add foryou page when swiping once
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
  apps/next/src/pages/foryou.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/constants/layout.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: footer spacing
  apps/next/src/pages/_app.tsx
  packages/app/components/trending/trending.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade to Next.js 13
  apps/next/.babelrc.json
  apps/next/babel.config.js
  apps/next/next.config.js
  apps/next/package.json
  apps/storybook-react/.eslintrc.json
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

update reanimated swc plugin
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

release v69.0.0
  package.json
Owners: none

feat: hide bottom tab on NFT detail
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/footer/index.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/trending/trending.web.tsx
  packages/app/hooks/use-platform-bottom-height.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

rename claim to collect and claimers to collectors
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/claimers.tsx
  apps/next/src/pages/collectors.tsx
  packages/app/components/card/card.tsx
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/collectors-modal.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/feed-item/claimed-by.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/login/login-header.tsx
  packages/app/components/notifications/notification-item.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-modal-list-props.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/claimers.tsx
  packages/app/screens/collectors.tsx
  packages/app/screens/likers.tsx
  packages/design-system/three-dots/three-dots.stories.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: adjust text size
  packages/app/components/notifications/index.tsx
  packages/app/components/trending/trending.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v70.0.0
  package.json
Owners: none

fix: deeplink initial route
  apps/expo/package.json
  packages/app/navigation/linking.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: deeplink initial route (#1657)
  apps/expo/package.json
  packages/app/navigation/linking.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: attempt unable to open url
  packages/app/components/profile/profile-social.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: attempt unable to open url (#1658)
  packages/app/components/profile/profile-social.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v71.0.0
  package.json
Owners: none

fix: profile inital router
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: misc issues on profile
  packages/app/components/claim/claim-button.tsx
  packages/app/components/header-dropdown.tsx
  packages/app/components/header/header-left.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/components/profile/profile-social.tsx
  packages/app/components/profile/profile-top.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip: social logins
  apps/expo/package.json
  apps/next/package.json
  apps/next/src/pages/magic-oauth-redirect.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/hooks/auth/use-magic-login.ts
  packages/app/lib/magic/magic.ts
  packages/app/providers/magic-provider.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: zeego sub menu on iOS
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/header-dropdown.tsx
  packages/design-system/dropdown-menu/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip: working on mobile
  apps/expo/package.json
  packages/app/components/login/index.tsx
  packages/app/components/login/login-with-apple.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

improve spotify auth on native
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/queryString.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

cleanup
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

improve spotify auth on native (#1663)
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/queryString.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/spotify-auth.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: zeego sub menu on iOS (#1662)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/header-dropdown.tsx
  packages/design-system/dropdown-menu/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: bump version script
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

release v72.0.0
  package.json
Owners: none

fix: layout shift in nft screen
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: rename Verify to Request
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: layout shift in nft screen (#1664)
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

login with google
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/utilities.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update image component
  packages/app/components/activity/avatar.tsx
  packages/app/components/card/card.tsx
  packages/app/components/card/rows/collection.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/creator-preview/index.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/media/index.tsx
  packages/app/components/nft-activity/user-item.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/api/use-nft-listings.ts
  packages/app/providers/wallet-provider.tsx
  packages/design-system/avatar/index.tsx
  packages/design-system/image/image.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix safari issue
  .eslintignore
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway
