Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: eslint warning
  packages/app/components/trending/index.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

v33
  package.json
Owners: none

fix: android drop ui issues
  packages/app/components/drop/drop-form.tsx
  packages/app/lib/react-navigation/bottom-tabs/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: list load issue
  packages/app/components/feed/feed.md.tsx
  packages/app/components/trending/trending.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: nofification nft name copy
  packages/app/components/notifications/actors.tsx
  packages/app/components/notifications/nfts-display-name.tsx
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v33.0.1
  package.json
Owners: none

wip
  packages/app/components/feed-item/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
  packages/app/hooks/use-infinite-list-query.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/expo/package.json
Owners: @intergalacticspacehighway

wip
  yarn.lock
Owners: none

wip
  apps/next/next.config.js
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/viewability-tracker-flash-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/viewability-tracker-flash-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

bump version
  package.json
Owners: none

wip
  packages/app/components/viewability-tracker-flash-list.tsx
  packages/app/hooks/use-viewability-mount.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/mute-button/mute-button.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/use-infinite-list-query.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notifications nfts copy
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

flashlist ⚡ ⚡ ⚡ (#1346)
  apps/expo/package.json
  apps/next/next.config.js
  packages/app/components/feed-item/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/viewability-tracker-flash-list.tsx
  packages/app/hooks/use-infinite-list-query.ts
  packages/app/hooks/use-viewability-mount.ts
  packages/app/screens/swipe-list.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

upgrade expo-cli
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

bump version
  package.json
Owners: none

release v36.0.0
  package.json
Owners: none

fix: notificaions nfts display name
  packages/app/components/notifications/nfts-display-name.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

install bignumber and quick-crypto
  apps/expo/babel.config.js
  apps/expo/eas.json
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

remove react-native-crypto
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

pass string instead of bool
  apps/expo/eas.json
Owners: @intergalacticspacehighway

fix: improve InfiniteScrollList
  packages/app/components/feed/feed.md.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

revert (once again)
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

Revert "revert (once again)"
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

disable flipper on eas for preview build
  apps/expo/eas.json
Owners: @intergalacticspacehighway

bump version + use 1 instead of true for FLIPPER_DISABLE env flag
  apps/expo/eas.json
  package.json
Owners: @intergalacticspacehighway

upgrade expo-community-flipper
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip (#1351)
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: web mobile feed
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: web mobile feed (#1352)
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
