Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

replace image with avatar
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat - followers/following list (#827)
  apps/expo/plugins/with-android-manifest.js
  packages/app/components/following-user-list.tsx
  packages/app/components/profile.tsx
  packages/app/components/search/index.tsx
  packages/app/hooks/api/use-followers-list.ts
  packages/app/hooks/api/use-following-list.ts
  packages/app/navigation/link/link-core.tsx
  packages/app/screens/profile.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

rudder jest mock
  apps/expo/__mocks__/@rudderstack/rudder-sdk-react-native/index.ts
  apps/expo/component-tests/hello-world.test.tsx
  apps/expo/package.json
Owners: @intergalacticspacehighway

add page viewed tracking + stop using useHideHeader hook
  packages/app/screens/camera.tsx
  packages/app/screens/create.tsx
  packages/app/screens/delete.tsx
  packages/app/screens/home.tsx
  packages/app/screens/login.tsx
  packages/app/screens/marketplace.tsx
  packages/app/screens/nft.tsx
  packages/app/screens/notifications.tsx
  packages/app/screens/profile.tsx
  packages/app/screens/search.tsx
  packages/app/screens/settings.tsx
  packages/app/screens/transfer-nft.tsx
  packages/app/screens/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Revert "add page viewed tracking + stop using useHideHeader hook"
  packages/app/screens/camera.tsx
  packages/app/screens/create.tsx
  packages/app/screens/delete.tsx
  packages/app/screens/home.tsx
  packages/app/screens/login.tsx
  packages/app/screens/marketplace.tsx
  packages/app/screens/nft.tsx
  packages/app/screens/notifications.tsx
  packages/app/screens/profile.tsx
  packages/app/screens/search.tsx
  packages/app/screens/settings.tsx
  packages/app/screens/transfer-nft.tsx
  packages/app/screens/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add tracking for button clicked on login + user logged out
  packages/app/components/login/use-login.ts
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add tracking for logrocket
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

track photo taken
  packages/app/components/camera/expo-camera.tsx
  packages/app/components/camera/vision-camera.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

track user and nft shared + fix user share if no username
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

track nft transferred and nft burned
  packages/app/hooks/use-burn-nft.ts
  packages/app/hooks/use-transfer-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Reconfigure magic for local + preview (#817)
  apps/expo/.env.development
  apps/expo/package.json
  apps/next-react-native/package.json
  apps/next-react/package.json
  apps/next-react/src/components/ModalAddEmail.js
  apps/next-react/src/components/ModalLogin.js
  apps/next-react/src/lib/web3Modal.js
  apps/next-react/src/pages/api/profile/email.js
  packages/app/lib/magic/index.ts
  packages/app/lib/web3-modal.web.ts
  yarn.lock
Owners: @intergalacticspacehighway, @TatisLois, @axeldelafosse

remove activity icons
  packages/app/components/activity/activity.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

setup react native testing (#814)
  app.json
  apps/expo/__mocks__/@react-native-async-storage/async-storage.js
  apps/expo/__mocks__/@rudderstack/rudder-sdk-react-native/index.ts
  apps/expo/__mocks__/@walletconnect/react-native-dapp.tsx
  apps/expo/__mocks__/react-native-ios-context-menu.ts
  apps/expo/__mocks__/react-native-mmkv.ts
  apps/expo/__mocks__/react-native-safe-area-context.tsx
  apps/expo/__mocks__/react-native-screens.ts
  apps/expo/__mocks__/react-native-vision-camera.ts
  apps/expo/babel.config.js
  apps/expo/component-tests/hello-world.test.tsx
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/feed.tsx
  packages/app/navigation/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

remove activity icons (#829)
  packages/app/components/activity/activity.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

write docs for the current release cycle
  README.md
Owners: none

fix typo
  README.md
Owners: none

update readme
  README.md
Owners: none

test command in gh actions
  .github/workflows/lint.yml
  package.json
Owners: @axeldelafosse

test command in gh actions
  apps/expo/component-tests/hello-world.test.tsx
Owners: @intergalacticspacehighway

test command in gh actions
  apps/expo/component-tests/hello-world.test.tsx
Owners: @intergalacticspacehighway

test command in gh actions (#832)
  .github/workflows/lint.yml
  apps/expo/component-tests/hello-world.test.tsx
  package.json
Owners: @axeldelafosse, @intergalacticspacehighway

replace menu
  apps/expo/package.json
  package.json
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.android.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.ios.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.web.tsx
  packages/app/zeego-menu/dropdown-menu/src/index.tsx
  packages/app/zeego-menu/dropdown-menu/src/web/item-image.tsx
  packages/app/zeego-menu/dropdown-menu/src/web/label.tsx
  packages/app/zeego-menu/menu/src/children.ts
  packages/app/zeego-menu/menu/src/create-android-menu/index.android.tsx
  packages/app/zeego-menu/menu/src/create-android-menu/index.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/index.ios.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/index.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/ios-icon-name.ts
  packages/app/zeego-menu/menu/src/display-names.tsx
  packages/app/zeego-menu/menu/src/filter-null.tsx
  packages/app/zeego-menu/menu/src/index.tsx
  packages/app/zeego-menu/menu/src/types.ts
  packages/app/zeego-menu/menu/src/use-stable-callback.ts
  packages/app/zeego-menu/menu/src/web-primitives/index.tsx
  packages/design-system/dropdown-menu/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

show block button even if logged out
  packages/app/components/profile-dropdown.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: color mode in menu
  packages/app/zeego-menu/menu/src/create-ios-menu/index.ios.tsx
  patches/@react-native-menu+menu+0.5.2.patch
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

remove react native menu
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

menu patch fix
  patches/@react-native-menu+menu+0.5.2.patch
Owners: none

fix
  .github/wip-workflows/detox-android.yml
  .github/wip-workflows/detox-ios.yml
  apps/expo/app.config.js
  apps/expo/package.json
Owners: @intergalacticspacehighway

replace ios context menu with react native menu (#833)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.android.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.ios.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.tsx
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.web.tsx
  packages/app/zeego-menu/dropdown-menu/src/index.tsx
  packages/app/zeego-menu/dropdown-menu/src/web/item-image.tsx
  packages/app/zeego-menu/dropdown-menu/src/web/label.tsx
  packages/app/zeego-menu/menu/src/children.ts
  packages/app/zeego-menu/menu/src/create-android-menu/index.android.tsx
  packages/app/zeego-menu/menu/src/create-android-menu/index.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/index.ios.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/index.tsx
  packages/app/zeego-menu/menu/src/create-ios-menu/ios-icon-name.ts
  packages/app/zeego-menu/menu/src/display-names.tsx
  packages/app/zeego-menu/menu/src/filter-null.tsx
  packages/app/zeego-menu/menu/src/index.tsx
  packages/app/zeego-menu/menu/src/types.ts
  packages/app/zeego-menu/menu/src/use-stable-callback.ts
  packages/app/zeego-menu/menu/src/web-primitives/index.tsx
  packages/design-system/dropdown-menu/index.tsx
  patches/@react-native-menu+menu+0.5.2.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

feat: added comments screen modal
  packages/app/components/comments.tsx
  packages/app/hooks/api/use-comments.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/comments.tsx
  packages/design-system/card/social/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: updated message components styling
  packages/design-system/messages/message-box-new.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse

fix: deploy patch package
  apps/expo/package.json
Owners: @intergalacticspacehighway

nits
  .github/wip-workflows/detox-android.yml
  .github/wip-workflows/detox-ios.yml
  apps/expo/app.config.js
  apps/expo/package.json
  apps/expo/plugins/with-android-manifest.js
Owners: @intergalacticspacehighway

Fix clear text traffic android error (#835)
  .github/wip-workflows/detox-android.yml
  .github/wip-workflows/detox-ios.yml
  apps/expo/app.config.js
  apps/expo/package.json
  apps/expo/plugins/with-android-manifest.js
Owners: @intergalacticspacehighway

fix: deploy patch package (#836)
  apps/expo/package.json
Owners: @intergalacticspacehighway

fix: android menu shadow bug and tab text
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.android.tsx
  packages/design-system/tabs/tablib/components.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

loading indicator in profile tabs
  packages/app/components/profile.tsx
  packages/app/utilities.ts
  packages/design-system/tabs/tablib/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

loading indicator in profile tabs
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

tab font family
  packages/design-system/tabs/tablib/components.tsx
Owners: @axeldelafosse

(fix: android) menu shadow animation and text in Tabs (#837)
  packages/app/zeego-menu/dropdown-menu/src/dropdown-menu.android.tsx
  packages/design-system/tabs/tablib/components.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

reduce tab size
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
