Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

reduce tab size
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Feature/show2 531 add skeleton indicator in user profile tabs (#838)
  packages/app/components/profile.tsx
  packages/app/utilities.ts
  packages/design-system/tabs/tablib/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

use react navigation getId to enable nested screens
  packages/app/navigation/root-stack-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

implement design uplift
  packages/app/screens/nft.tsx
  packages/design-system/card/card.tsx
  packages/design-system/card/rows/collection.tsx
  packages/design-system/liked-by/index.tsx
  packages/design-system/modal/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

update modal header style
  packages/app/screens/nft.tsx
  packages/design-system/modal/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor(magic): support magic testmode for a configurable email value
  packages/app/hooks/auth/use-magic-login.ts
  packages/app/lib/constants.js
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Support magic testmode for a configurable email (#831)
  packages/app/hooks/auth/use-magic-login.ts
  packages/app/lib/constants.js
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add growthbook on mobile
  apps/expo/.env.development
  apps/expo/.env.production
  apps/expo/.env.staging
  apps/expo/App.tsx
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

use camel case for event tracking props
  apps/expo/App.tsx
Owners: @intergalacticspacehighway

add growthbook on web
  apps/next-react-native/package.json
  apps/next-react-native/src/pages/_app.tsx
  packages/app/utilities.ts
Owners: @TatisLois, @axeldelafosse, @intergalacticspacehighway

fix(utilities): import magic correctly
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

rename variation_id to variant_id
  apps/expo/App.tsx
  apps/next-react-native/src/pages/_app.tsx
Owners: @intergalacticspacehighway, @TatisLois

chore: version upgrade
  package.json
Owners: none

chore: version upgrade (#845)
  package.json
Owners: none

feat: added like, unlike, remove and new comment api integration
  packages/app/components/comments.tsx
  packages/app/components/comments/comment-row.tsx
  packages/app/hooks/api/use-comment.ts
  packages/app/hooks/api/use-comments.ts
  packages/app/hooks/api/use-new-comment.ts
  packages/app/screens/comments.tsx
  packages/design-system/comments/index.tsx
  packages/design-system/messages/message-box-new.tsx
  packages/design-system/messages/message-row.tsx
  packages/design-system/text-input/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: gif performance issue
  patches/react-native-fast-image+8.5.11.patch
Owners: none

refactor: updated like, unlike, delete and new comment apis
  packages/app/components/comments.tsx
  packages/app/components/comments/comment-row.tsx
  packages/app/hooks/api/use-comment.ts
  packages/app/hooks/api/use-comments.ts
  packages/app/hooks/api/use-new-comment.ts
  packages/app/hooks/use-infinite-list-query.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: mock axios api
  apps/expo/__mocks__/axios.ts
  apps/expo/component-tests/hello-world.test.tsx
  packages/app/hooks/api-hooks.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: flash of unauthenticated user content
  apps/expo/__mocks__/axios.ts
  apps/expo/component-tests/app.test.tsx
  apps/expo/component-tests/hello-world.test.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/providers/auth-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

feat: added get rounded count util
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: added accent color to button
  packages/design-system/button/button-base.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
Owners: @axeldelafosse

refactor: updated like styling
  packages/app/components/comments/comment-row.tsx
  packages/design-system/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: updated message row story
  apps/storybook-react-native/.storybook/storybook.requires.js
  packages/design-system/messages/message-row.stories.tsx
Owners: @axeldelafosse

add android animate flag
  patches/react-native-fast-image+8.5.11.patch
Owners: none

chore: fix error message
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: fix error message (#849)
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: trending header not changing on updating dark mode
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

gif conditional animation in android/ios (#848)
  patches/react-native-fast-image+8.5.11.patch
Owners: none

sentry without sourcemaps
  apps/expo/.env.development
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/lib/sentry/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: sentry on ios
  apps/expo/.env.development
  apps/expo/app.config.js
Owners: @intergalacticspacehighway

refactor: updated loading and error states view
  packages/app/components/comments/comments-status.tsx
  packages/app/components/comments/index.tsx
  packages/app/hooks/api/use-comments.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: added delete comment confirmation
  packages/app/components/comments/comment-row.tsx
  packages/app/components/comments/index.tsx
  packages/app/hooks/api/use-comments.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor: added submitting comment error handling
  packages/app/components/comments/index.tsx
  packages/app/hooks/api/use-comments.ts
  packages/design-system/messages/message-box-new.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: sign in button cutting
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: menu freezing in production app
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/lib/logrocket/index.ts
  packages/app/lib/logrocket/index.web.ts
  packages/app/providers/user-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: menu freezing in production app (#853)
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/lib/logrocket/index.ts
  packages/app/lib/logrocket/index.web.ts
  packages/app/providers/user-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: sign in button cutting (#852)
  packages/app/components/header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

Fix/trending header dark mode switch (#850)
  packages/app/components/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: add sentry for error tracking (#851)
  apps/expo/.env.development
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/lib/sentry/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: flash of unauthenticated feed on app open (#847)
  apps/expo/__mocks__/axios.ts
  apps/expo/component-tests/app.test.tsx
  apps/expo/component-tests/hello-world.test.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/hooks/auth/use-wallet-login.ts
  packages/app/providers/auth-provider.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
