Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: media preview on web
  packages/app/components/qr-code/qr-code-modal.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: design system packages
  .bitmap
  apps/expo/package.json
  packages/app/components/qr-code/qr-code-modal.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/icon/Grid/Multiple.svg
  packages/design-system/icon/Grid/Multiple.tsx
  packages/design-system/icon/Grid/Single.svg
  packages/design-system/icon/Grid/Single.tsx
  packages/design-system/icon/Grid/index.tsx
  packages/design-system/icon/Star/Default.svg
  packages/design-system/icon/Star/Default.tsx
  packages/design-system/icon/Star/Filled.svg
  packages/design-system/icon/Star/Filled.tsx
  packages/design-system/icon/Star/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v81.0.0
  package.json
Owners: none

wip
  apps/expo/package.json
  packages/design-system/date-time-picker/date-time-picker.tsx
  packages/design-system/date-time-picker/date-time-picker.web.tsx
  packages/design-system/date-time-picker/index.ts
  packages/design-system/date-time-picker/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

feat: creator drop notifications
  packages/app/components/follow-button.tsx
  packages/app/components/notifications-follow-button.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-notifications-follow.ts
  packages/design-system/button/constants.ts
  packages/design-system/icon/BellMinus.svg
  packages/design-system/icon/BellMinus.tsx
  packages/design-system/icon/BellOff.svg
  packages/design-system/icon/BellOff.tsx
  packages/design-system/icon/BellPlus.svg
  packages/design-system/icon/BellPlus.tsx
  packages/design-system/icon/BellRinging.svg
  packages/design-system/icon/BellRinging.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: unsign in button status
  packages/app/components/notifications-follow-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: update packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/design-system/date-time-picker/date-time-picker.stories.tsx
  packages/design-system/date-time-picker/date-time-picker.tsx
  packages/design-system/date-time-picker/types.ts
Owners: @axeldelafosse

fix: modal close icon style
  .bitmap
  apps/expo/package.json
  packages/design-system/modal/modal.header.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: correct IG + Twitter keys in QR code modal
  packages/app/components/qr-code/qr-code-modal.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notifications liked user list & modal style
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/package.json
  packages/app/components/header/header.web.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/user-list.tsx
  packages/app/screens/notifications.tsx
  packages/design-system/bottom-sheet/index.tsx
  packages/design-system/modal-sheet/modal-sheet.tsx
  packages/design-system/modal/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

improve android picker
  packages/design-system/date-time-picker/date-time-picker.tsx
Owners: @axeldelafosse

feat: date picker (#1734)
  apps/expo/package.json
  packages/design-system/date-time-picker/date-time-picker.stories.tsx
  packages/design-system/date-time-picker/date-time-picker.tsx
  packages/design-system/date-time-picker/date-time-picker.web.tsx
  packages/design-system/date-time-picker/index.ts
  packages/design-system/date-time-picker/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release v82.0.0
  package.json
Owners: none

fix: web date picker
  apps/next/package.json
  packages/design-system/date-time-picker/date-time-picker.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

improve web date picker (#1737)
  apps/next/package.json
  packages/design-system/date-time-picker/date-time-picker.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  apps/next/src/styles/styles.css
Owners: @axeldelafosse, @intergalacticspacehighway

wip
  packages/app/components/drop/drop-form.tsx
  packages/design-system/date-time-picker/date-time-picker.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: pwd&location drop exception flow
  .bitmap
  apps/expo/package.json
  apps/next/package.json
  package.json
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/design-system/modal/modal.container.web.tsx
  packages/design-system/video/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: multi drop
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: prop typo
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v82.0.1
  package.json
Owners: none

fix: location permissions prompt
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: date time picker on Chromatic
  apps/next/package.json
  packages/design-system/date-time-picker/date-time-picker.stories.tsx
  packages/design-system/date-time-picker/date-time-picker.tsx
  packages/design-system/date-time-picker/date-time-picker.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

release v82.0.2
  package.json
Owners: none

fix: location drop
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v82.0.3
  package.json
Owners: none

perf: imporve keyboard on iOS
  apps/expo/package.json
  package.json
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/comments/comments-container.ios.tsx
  packages/app/components/comments/comments-container.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/messages/message-box.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  apps/expo/package.json
  packages/app/components/drop/drop-form.tsx
  packages/design-system/date-time-picker/date-time-picker.android.tsx
  packages/design-system/date-time-picker/date-time-picker.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

deps: remove third party keyboard
  apps/expo/App.tsx
  apps/expo/package.json
  packages/app/components/comments/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: keyboard on ererywhere
  apps/expo/App.tsx
  apps/expo/package.json
  packages/app/components/comments/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: date time picker on chromatic
  packages/design-system/date-time-picker/date-time-picker.stories.tsx
Owners: @axeldelafosse

release v83.0.0
  package.json
Owners: none

fix: card & share UI
  packages/app/components/card/card.tsx
  packages/app/components/qr-code/qr-code-modal.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

transpile all react native packages + disable reanimated swc plugin
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

clean code
  .prettierrc.js
  apps/next/next.config.js
  apps/next/package.json
  apps/next/raf.js
  apps/next/src/pages/_app.tsx
  packages/app/components/swipe-list.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

clean code
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

upgrade next font
  apps/next/package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix: try to untranspile segmented-control
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

deps: remove segmented-control
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/.storybook/storybook.requires.js
  apps/storybook-react-native/package.json
  packages/design-system/index.tsx
  packages/design-system/segmented-control/index.tsx
  packages/design-system/segmented-control/segmented-control.stories.tsx
  patches/@react-native-segmented-control+segmented-control+2.4.0.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
