Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: remove progress text
  packages/design-system/tab-view/src/refresh-control.tsx
Owners: @axeldelafosse

show hidden tab on profile + unhide nft
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use path param instead
  packages/app/hooks/api-hooks.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: claimers list
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/claimers.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/claimers-modal.tsx
  packages/app/components/following-user-list.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/api/use-follow-list.ts
  packages/app/hooks/api/use-following-list.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/cliamers.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: typo error
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/claimers.tsx
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/screens/claimers.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade react-native-quick-crypto
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: notification copy
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: update claim icon
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/gift-button.tsx
  packages/app/components/feed-item/index.tsx
  packages/design-system/icon/Gift.svg
  packages/design-system/icon/Gift.tsx
  packages/design-system/icon/GiftSolid.svg
  packages/design-system/icon/GiftSolid.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  apps/next/src/pages/wagmi-signature-test.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

wip (#1337)
  apps/next/src/pages/wagmi-signature-test.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: use wagmi sign method
  packages/app/hooks/use-sign-typed-data.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: attempt to fix missing sign requests (#1338)
  packages/app/hooks/use-sign-typed-data.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean trending code on desktop
  packages/app/components/trending/index.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/components/trending/trending.tsx
  packages/app/hooks/api-hooks.ts
  packages/design-system/tab-view/independent-tab-bar.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove file
  packages/app/components/trending/trending.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

revert sign typed message
  packages/app/hooks/use-sign-typed-data.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

revert sign typed message (#1339)
  packages/app/hooks/use-sign-typed-data.web.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade rainbowkit
  apps/expo/package.json
  apps/next/package.json
  apps/next/src/pages/wagmi-signature-test.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-sign-typed-data.web.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  apps/next/src/pages/wagmi-signature-test.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

upgrade wagmi and rainbowkit (#1340)
  apps/expo/package.json
  apps/next/package.json
  apps/next/src/pages/wagmi-signature-test.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-sign-typed-data.web.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

wip
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1341)
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

edit profile
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use react-native-crypto instead of react-native-quick-crypto
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

upgrade react-native-blob-jsi-helper
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

upgrade react-native-mmkv
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: utilities file type error
  apps/expo/package.json
  packages/app/global.d.ts
  packages/app/utilities.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

remove react-native-bignumber
  apps/expo/babel.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: clean code & fix type error
  packages/app/components/card/card.tsx
  packages/app/components/card/social/index.tsx
  packages/app/components/edit-profile.tsx
  packages/app/lib/constants.ts
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade react-native-random-values-jsi-helper
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

feat: add infinite-scroll-list
  apps/next/package.json
  packages/app/components/trending/trending.md.tsx
  packages/app/lib/infinite-scroll-list/index.ts
  packages/app/lib/infinite-scroll-list/index.web.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: clean code & strong type
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/trending/trending.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: clean code
  packages/app/components/trending/trending.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: merge yarn.lock
  yarn.lock
Owners: none

wip
  packages/app/hooks/use-sign-typed-data.web.ts
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: turn autoConnect off till we identify signature requests bug (#1343)
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-sign-typed-data.web.ts
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

refactor(home): use InfiniteScrollList
  packages/app/components/feed/feed.md.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/lib/infinite-scroll-list/index.ts
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

set android.kotlinVersion to 1.6.10
  apps/expo/app.config.js
  apps/expo/package.json
  apps/expo/plugins/with-compile-sdk-version.js
  apps/storybook-react-native/app.config.js
  apps/storybook-react-native/plugins/with-compile-sdk-version.js
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: Suggested NFT can't click
  packages/app/components/feed/feed.md.tsx
  packages/app/hooks/use-follow-suggestions.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v35.0.0
  package.json
Owners: none

fix: eslint warning
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/screens/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
