Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix (#1414)
  .bitmap
  apps/expo/package.json
  packages/design-system/image/image.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix (#1415)
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

style: clean design-system code
  packages/app/components/profile/index.tsx
  packages/app/components/trending/creators-list.tsx
  packages/app/components/trending/index.tsx
  packages/app/hooks/use-tab-state.tsx
  packages/design-system/infinite-scroll-list/index.tsx
  packages/design-system/infinite-scroll-list/index.web.tsx
  packages/design-system/tab-view-core/context.tsx
  packages/design-system/tab-view-core/create-collapsible-scroll-view.tsx
  packages/design-system/tab-view-core/create-header-tabs.tsx
  packages/design-system/tab-view-core/create-header-tabs.web.tsx
  packages/design-system/tab-view-core/gesture-container.tsx
  packages/design-system/tab-view-core/hooks/index.tsx
  packages/design-system/tab-view-core/hooks/use-refresh-value.tsx
  packages/design-system/tab-view-core/hooks/use-scene-info.tsx
  packages/design-system/tab-view-core/hooks/use-shared-scrollable-ref.tsx
  packages/design-system/tab-view-core/hooks/use-sync-initial-position.tsx
  packages/design-system/tab-view-core/index.tsx
  packages/design-system/tab-view-core/refresh-control.tsx
  packages/design-system/tab-view-core/scene.tsx
  packages/design-system/tab-view-core/scene.web.tsx
  packages/design-system/tab-view-core/scrollable-view/flat-list.tsx
  packages/design-system/tab-view-core/scrollable-view/index.tsx
  packages/design-system/tab-view-core/scrollable-view/scroll-view.tsx
  packages/design-system/tab-view-core/scrollable-view/section-list.tsx
  packages/design-system/tab-view-core/tab-view-base.stories.tsx
  packages/design-system/tab-view-core/types.tsx
  packages/design-system/tab-view-core/utils.tsx
  packages/design-system/tab-view/haptics.ts
  packages/design-system/tab-view/haptics.web.ts
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
  packages/design-system/tab-view/scrollable-tab-bar.tsx
  packages/design-system/tab-view/src/scene.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
  packages/design-system/tab-view/tab-flash-list-scroll-view.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  packages/design-system/tab-view/tab-scene.tsx
  packages/design-system/tab-view/tab-spinner.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: release InfiniteScrollList
  .bitmap
  apps/expo/package.json
  packages/app/components/comments/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header.tsx
  packages/app/components/nft-activity/activity-table.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/trending/trending-creators-list.md.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
  packages/app/components/user-list.tsx
  packages/design-system/infinite-scroll-list/index.tsx
  packages/design-system/infinite-scroll-list/index.web.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v43.0.0
  package.json
Owners: none

fix
  .bitmap
  apps/expo/package.json
  packages/design-system/router/use-router.ts
  packages/design-system/router/use-router.web.ts
  patches/solito+0.0.26.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: refreshtoken
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: release Tabs component
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/.storybook/storybook.requires.js
  apps/storybook-react-native/package.json
  packages/design-system/collapsible-tab-view/context.tsx
  packages/design-system/collapsible-tab-view/create-collapsible-scroll-view.tsx
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.tsx
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.web.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/hooks/index.tsx
  packages/design-system/collapsible-tab-view/hooks/use-refresh-value.tsx
  packages/design-system/collapsible-tab-view/hooks/use-scene-info.tsx
  packages/design-system/collapsible-tab-view/hooks/use-shared-scrollable-ref.tsx
  packages/design-system/collapsible-tab-view/hooks/use-sync-initial-position.tsx
  packages/design-system/collapsible-tab-view/index.tsx
  packages/design-system/collapsible-tab-view/refresh-control.tsx
  packages/design-system/collapsible-tab-view/scene.tsx
  packages/design-system/collapsible-tab-view/scene.web.tsx
  packages/design-system/collapsible-tab-view/scrollable-view/flat-list.tsx
  packages/design-system/collapsible-tab-view/scrollable-view/index.tsx
  packages/design-system/collapsible-tab-view/scrollable-view/scroll-view.tsx
  packages/design-system/collapsible-tab-view/scrollable-view/section-list.tsx
  packages/design-system/collapsible-tab-view/tab-view.stories.tsx
  packages/design-system/collapsible-tab-view/types.tsx
  packages/design-system/collapsible-tab-view/utils.tsx
  packages/design-system/tab-view/haptics.ts
  packages/design-system/tab-view/haptics.web.ts
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
  packages/design-system/tab-view/scrollable-tab-bar.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
  packages/design-system/tab-view/tab-flash-list-scroll-view.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  packages/design-system/tab-view/tab-spinner.tsx
  packages/design-system/tab-view/tab-view.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: make it 8 hours
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: refresh token (#1416)
  .bitmap
  apps/expo/package.json
  packages/app/hooks/auth/use-access-token-manager.ts
  packages/app/providers/auth-provider.tsx
  packages/design-system/router/use-router.ts
  packages/design-system/router/use-router.web.ts
  patches/solito+0.0.26.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix
  packages/app/pages/profile/index.web.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1418)
  packages/app/pages/profile/index.web.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v43.0.1
  package.json
Owners: none

fix: edit profile
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.web.tsx
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: sb error
  packages/design-system/tab-view/tab-view.stories.tsx
Owners: @axeldelafosse

feat: update MultiClampText
  apps/expo/package.json
  packages/app/components/card/rows/description.tsx
  packages/design-system/multi-clamp-text/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: clamp text
  packages/app/components/card/rows/description.tsx
  packages/design-system/clamp-text/clamp-text.composition.tsx
  packages/design-system/clamp-text/clamp-text.docs.mdx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/clamp-text/index.ts
  packages/design-system/clamp-text/use-clamp-text.tsx
  packages/design-system/clamp-text/use-clamp-text.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v43.0.1
  apps/expo/scripts/bump-version.mjs
Owners: @intergalacticspacehighway

release 44.0.0
  package.json
Owners: none

deps: release the remaining components
  .bitmap
  apps/expo/package.json
  package.json
  packages/design-system/clamp-text/clamp-text.stories.tsx
  packages/design-system/clamp-text/clamp-text.tsx
  packages/design-system/collapsible-tab-view/@types/react-stickynode/index.d.ts
  packages/design-system/infinite-scroll-list/index.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

style: use design-system component
  packages/app/components/card/rows/description.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: update next config
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

deps: release Tabs/Haptics components
  .bitmap
  apps/expo/package.json
  apps/next/next.config.js
  package.json
  packages/app/components/camera/vision-camera.tsx
  packages/app/components/error-boundary/tab-fallback.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/trending/index.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/components/trending/tab-list.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/context/like-context.tsx
  packages/app/hooks/use-tab-state.tsx
  packages/app/lib/infinite-scroll-list/index.tsx
  packages/app/lib/infinite-scroll-list/index.web.tsx
  packages/app/navigation/tab-bar-button.tsx
  packages/app/types.ts
  packages/design-system/haptics/index.ts
  packages/design-system/haptics/index.web.ts
  packages/design-system/segmented-control/segmented-control.stories.tsx
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
  packages/design-system/tab-view/scrollable-tab-bar.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: mute button location
  packages/app/components/feed-item/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/hooks/use-viewability-mount.ts
  packages/app/providers/mute-provider.tsx
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: expo preview
  apps/expo/app.config.js
Owners: @intergalacticspacehighway

fix: expo preview
  apps/expo/app.config.js
  apps/storybook-react-native/app.config.js
Owners: @intergalacticspacehighway, @axeldelafosse

fix: tab-view issue
  .bitmap
  apps/expo/package.json
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/creators-list.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

deps: upgrade reanimated
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: TabView can't visable on web
  .bitmap
  apps/expo/package.json
  packages/design-system/tab-view/tab-flash-list.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

clean up
  packages/app/components/mute-button/mute-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mute button location (#1419)
  apps/storybook-react-native/app.config.js
  packages/app/components/feed-item/index.tsx
  packages/app/components/mute-button/mute-button.tsx
  packages/app/hooks/use-viewability-mount.ts
  packages/app/providers/mute-provider.tsx
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: comments bug
  packages/app/components/comments/comment-row.tsx
  packages/app/components/messages/message-box-new.tsx
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: setting tab failing to load
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/hooks/use-scene-info.tsx
  packages/design-system/tab-view/scrollable-auto-width-tab-bar.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

comment ui
  packages/app/components/comments/index.tsx
  packages/app/components/empty-placeholder.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: light mode style
  packages/app/components/comments/comment-input-box.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

autofocus input comment
  packages/app/components/comments/comment-input-box.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

autofocus input comment
  packages/app/components/comments/comment-input-box.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
