Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: downgrade reanimated version
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: settings separator style
  packages/app/components/settings/index.tsx
  packages/app/components/settings/slot-separator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hooks deps
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: comment improvements (#1421)
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/comments/comment-row.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/empty-placeholder.tsx
  packages/app/components/messages/message-box-new.tsx
  packages/app/components/messages/message-row.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: sb components can't preview
  apps/storybook-react-native/.storybook/storybook.requires.js
  apps/storybook-react/.storybook/preview.js
  apps/storybook-react/styles/globals.css
  packages/design-system/collapsible-tab-view/collapsible-tab-view.stories.tsx
  packages/design-system/tab-view/tab-view.stories.tsx
  packages/design-system/tooltip/index.tsx
  packages/design-system/tooltip/index.web.tsx
  packages/design-system/tooltip/tooltip.stories.tsx
  packages/design-system/tooltip/types.ts
Owners: @axeldelafosse

deps: upgrade design-system components
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

claim
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

increase modal height
  packages/design-system/modal/modal.container.web.tsx
Owners: @axeldelafosse

add comment box in claim modal
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/api/use-comments.ts
  packages/design-system/modal/modal.container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

add comment box in claim modal (#1423)
  .bitmap
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/api/use-comments.ts
  packages/design-system/modal/modal.container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: adjust aligned
  packages/app/components/profile/profile-social.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: TabView support bounces effect
  apps/storybook-react-native/package.json
  packages/app/components/profile/profile-top.tsx
  packages/design-system/collapsible-tab-view/collapsible-tab-view.stories.tsx
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/scene.tsx
  packages/design-system/collapsible-tab-view/types.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix(iOS): forwardRef warning
  packages/design-system/modal/modal.screen.ios.tsx
Owners: @axeldelafosse

old claim flow
  packages/app/hooks/use-claim-nft.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

old claim flow
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1425)
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: multiple comments on claiming (#1426)
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: new drop/claim endpoints. a.k.a 🧈 drop and claim (#1424)
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

Revert "feat: new drop/claim endpoints. a.k.a 🧈 drop and claim (#1424)"
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  .github/workflows/upload-apk-to-waldo.yml
Owners: @axeldelafosse

wip
  .github/workflows/upload-apk-to-waldo.yml
Owners: @axeldelafosse

wip
  .github/workflows/upload-apk-to-waldo.yml
Owners: @axeldelafosse

Create android-waldo-build.yml
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

wip
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

feat: implement RefreshControl
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/.storybook/storybook.requires.js
  apps/storybook-react-native/package.json
  packages/app/components/profile/index.tsx
  packages/design-system/collapsible-tab-view/collapsible-tab-view.stories.tsx
  packages/design-system/spinner/index.ts
  packages/design-system/spinner/spinner.tsx
  packages/design-system/spinner/spinner.web.tsx
  packages/design-system/tab-view/index.tsx
  packages/design-system/tab-view/refresh-control.tsx
  packages/design-system/tab-view/tab-view.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: import
  packages/design-system/tab-view/refresh-control.tsx
Owners: @axeldelafosse

wip
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/types.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

deps: remove skia
  .bitmap
  apps/expo/package.json
  apps/storybook-react-native/package.json
  packages/design-system/tab-view/tab-view.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

wip
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

Create android-waldo-build.yml (#1430)
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

waldo build on staging push
  .github/workflows/android-waldo-build.yml
Owners: @axeldelafosse

fix: profile footer spacing
  packages/app/components/profile/profile-footer.tsx
  packages/app/components/profile/profile-tab-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: FlashList has blank when scroll up
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/index.tsx
  packages/design-system/collapsible-tab-view/scene.tsx
  packages/design-system/collapsible-tab-view/types.tsx
  packages/design-system/tab-view/tab-flash-list-scroll-view.tsx
  packages/design-system/tab-view/tab-flash-list.tsx
  patches/recyclerlistview+4.1.3.patch
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: import error
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.web.tsx
  packages/design-system/collapsible-tab-view/scene.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse
