Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: image props
  packages/app/components/creator-preview/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/media/index.tsx
  packages/design-system/avatar/constants.ts
  packages/design-system/image/image.web.tsx
  packages/design-system/video/index.tsx
  packages/design-system/video/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: modal width
  apps/next/tailwind.config.js
  apps/storybook-react/tailwind.config.js
  packages/design-system/modal/modal.container.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: type error
  packages/design-system/avatar/avatar.stories.tsx
Owners: @axeldelafosse

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-add-wallet-nickname.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade button version
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: released TabView PR
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/refresh-control.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

set nickname
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.2
  package.json
Owners: none

fix skeleton
  packages/app/components/settings/settings-wallet-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: set primary and nickname to wallet (#1489)
  packages/app/components/settings/index.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/components/settings/wallet-dropdown-menu.tsx
  packages/app/hooks/api/use-add-wallet-nickname.ts
  packages/app/hooks/api/use-set-primary-wallet.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

refator: replace Tabs
  apps/storybook-react-native/.storybook/storybook.requires.js
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-header.tsx
  packages/app/components/login/use-login.ts
  packages/design-system/collapsible-tab-view/gesture-container.ios.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
  packages/design-system/collapsible-tab-view/types.tsx
  packages/design-system/index.tsx
  packages/design-system/tab-view/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove old Tabs
  packages/design-system/tabs/index.tsx
  packages/design-system/tabs/tablib/components.tsx
  packages/design-system/tabs/tablib/index.tsx
  packages/design-system/tabs/tablib/index.web.tsx
  packages/design-system/tabs/tablib/types.ts
  packages/design-system/tabs/tablib/usePagerScrollHandler.ts
  packages/design-system/tabs/tabs.stories.tsx
Owners: @axeldelafosse

fix: android height
  packages/app/components/login/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: Suggested card
  packages/app/components/creator-preview/index.tsx
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: Tabs router can't close
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: preview media component
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/preview/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: drop modal lg width
  packages/app/screens/drop.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.3
  package.json
Owners: none

fix: change tab index
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: change tab index (#1492)
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.4
  package.json
Owners: none

fix images
  packages/app/components/activity/avatar.tsx
  packages/app/components/card/rows/collection.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/user-list.tsx
  packages/app/providers/wallet-provider.tsx
  packages/design-system/model/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/add-wallet-or-set-primary/index.ts
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/components/add-wallet-or-set-primary/add-wallet-or-set-primary.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update card design
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove margin on trending desktop
  packages/app/components/trending/trending-nfts-list.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fux
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fux (#1496)
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v48.0.5
  package.json
Owners: none

release v48.0.6
  package.json
Owners: none

fix
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
