Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

cleanup
  packages/app/components/qr-code/qr-code.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

download qr code in drop success
  packages/app/components/drop/drop-form.tsx
  packages/app/components/qr-code/qr-code.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

download qr code in drop success
  packages/app/components/drop/drop-form.tsx
  packages/app/components/qr-code/qr-code.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: qr code for drop URL (#1676)
  apps/expo/app.config.js
  apps/expo/package.json
  apps/next/package.json
  packages/app/components/drop/drop-form.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/qr-code/index.ts
  packages/app/components/qr-code/qr-code.tsx
  packages/app/lib/view-shot/index.ts
  packages/app/lib/view-shot/index.web.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: complete profile on sign in
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/context/user-context.ts
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/providers/user-provider.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v73.0.0
  package.json
Owners: none

fix: modal-sheet on web
  .bitmap
  apps/expo/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/profile/profile-social-explanation.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/providers/user-provider.tsx
  packages/app/screens/profile-social-explanation.tsx
  packages/design-system/bottom-sheet/index.tsx
  packages/design-system/modal-screen/with-modal-screen.web.tsx
  packages/design-system/modal-sheet/index.ts
  packages/design-system/modal-sheet/modal-sheet.tsx
  packages/design-system/modal-sheet/modal-sheet.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: show complete profile when first sign in
  packages/app/components/edit-profile.tsx
  packages/app/providers/user-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: claim/drop copy
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: fieldset ErrorText on web
  .bitmap
  apps/expo/package.json
  packages/design-system/fieldset/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

release v74.0.0
  package.json
Owners: none

deps: update packages
  apps/next/package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

install @next/font
  apps/next/next.config.js
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/_document.tsx
  apps/next/src/styles/styles.css
  apps/next/tailwind.config.js
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

feat: social login screen on native
  packages/app/components/login/index.tsx
  packages/app/components/login/login-button.tsx
  packages/app/components/login/login-footer.tsx
  packages/app/components/login/login-header.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/login-with-apple.tsx
  packages/app/components/login/login-with-google.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  packages/design-system/button/types.ts
  packages/design-system/modal/modal.container.web.tsx
  packages/design-system/tailwind/colors.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: new login screen on web
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/connect-button/connect-button.web.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: ConnectButton spacing
  packages/app/components/connect-button/connect-button.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

login with twitter
  apps/expo/package.json
  packages/app/components/login/index.tsx
  packages/app/components/login/login-with-twitter.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

remove expo next adapter
  apps/next/next.config.js
  apps/next/package.json
  apps/storybook-react/next.config.js
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1679)
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix bug preventing to claim spotify gated drops
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix bug preventing to claim spotify gated drops
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix bug preventing to claim spotify gated drops (#1681)
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: update styles
  apps/expo/package.json
  packages/app/components/login/index.tsx
  packages/app/components/login/login-header.tsx
  packages/design-system/button/constants.ts
  packages/design-system/button/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

feat: drops left color
  packages/app/components/claim/gift-button.tsx
  packages/app/components/social-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

delete profile
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/hooks/use-delete-user.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  packages/app/components/settings/settings-account-slot.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

delete profile (#1683)
  packages/app/components/settings/settings-account-slot.tsx
  packages/app/hooks/use-delete-user.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v75.0.0
  package.json
Owners: none

wip
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip (#1684)
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v76.0.0
  package.json
Owners: none

wip
  packages/app/hooks/use-upload-media-to-pinata.ts
  packages/app/lib/sentry/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/use-upload-media-to-pinata.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

capture error on sentry if pinata/ipfs upload fails (#1685)
  packages/app/hooks/use-upload-media-to-pinata.ts
  packages/app/lib/sentry/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: dark mode support following system
  packages/app/components/header-dropdown.tsx
  packages/design-system/color-scheme/provider.tsx
  packages/design-system/color-scheme/provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: update icons
  packages/app/components/header-dropdown.tsx
  packages/app/components/nft-dropdown.tsx
  packages/design-system/icon/DarkMode.svg
  packages/design-system/icon/DarkMode.tsx
  packages/design-system/icon/QrCode.svg
  packages/design-system/icon/QrCode.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
