Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: claim text warp
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: pin button & img
  packages/app/components/drop/drop-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: tab bar letters
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: bottom tab height
  packages/app/lib/react-navigation/bottom-tabs/index.ts
  packages/app/lib/react-navigation/bottom-tabs/index.web.ts
  packages/app/navigation/bottom-tab-bar.tsx
  packages/app/navigation/bottom-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: notification add blur header effect
  packages/app/components/notifications/index.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: description auto height
  packages/app/components/card/rows/description.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: unmute button not visible
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v51.0.1
  package.json
Owners: none

fix
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/header.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/context/user-context.ts
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/hooks/use-redirect-to-create-drop.ts
  packages/app/navigation/bottom-tab-bar.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/providers/user-provider.tsx
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: LightBox is broken
  packages/app/components/profile/profile-top.tsx
  packages/app/providers/app-providers.tsx
  packages/app/providers/app-providers.web.tsx
  packages/design-system/image/image.tsx
  packages/design-system/light-box/light-box-modal.tsx
  packages/design-system/light-box/light-box.tsx
  packages/design-system/light-box/provider.tsx
  packages/design-system/light-box/provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: import
  packages/app/components/profile/profile-top.tsx
  packages/app/providers/app-providers.tsx
  packages/app/providers/app-providers.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: upgrade gesture-handler
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix (#1513)
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/header.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/context/user-context.ts
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/hooks/use-redirect-to-create-drop.ts
  packages/app/navigation/bottom-tab-bar.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/providers/user-provider.tsx
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v51.0.2
  package.json
Owners: none

feat: pin claim explanation button
  packages/app/components/claim/claim-explanation.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: remove Activity from all dropdown
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/user-list.tsx
  packages/app/hooks/api/use-follow-list.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove ActivitiesScreen from stack
  apps/next/src/pages/_app.tsx
  packages/app/navigation/root-stack-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: follow list not re-rendering
  packages/app/components/follow-button.tsx
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add viewOnOpenSea from dropdown
  packages/app/components/nft-dropdown.tsx
  packages/design-system/icon/OpenSea.svg
  packages/design-system/icon/OpenSea.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: follow list not re-rendering (#1518)
  packages/app/components/follow-button.tsx
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hide Claimers tab login btn
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v51.0.3
  package.json
Owners: none

allow magic as primary wallet
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: type error
  packages/app/components/user-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: select on web
  packages/design-system/select/select.web.tsx
Owners: @axeldelafosse

deps: upgrade/released select
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: edit nickname
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: edit nickname (#1520)
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: screens broken on Android
  packages/app/components/drop/drop-form.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/privacy-and-security.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending/index.tsx
  packages/app/hooks/use-expo-update.tsx
  packages/app/navigation/bottom-tab-bar.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: feed item media position
  packages/app/components/feed-item/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: alert state on dismiss
  packages/app/components/login/login-input-field.tsx
  packages/design-system/alert/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: alert state reset on dismiss
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v51.0.4
  package.json
Owners: none

fix: alert state reset on dismiss
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: alert state reset on dismiss
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: sometimes header incorrect height on Android
  packages/app/components/feed-item/index.tsx
  packages/app/components/search/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/navigation/navigator-screen-options.tsx
  packages/app/pages/home/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

style: remove notes
  packages/app/pages/home/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa
