Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

stop calling `useNFTListing`
  packages/app/components/card/rows/elements/price.tsx
  packages/app/components/card/rows/owner.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/clamp-text/clamp.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

upgrade design system
  .bitmap
  apps/expo/package.json
  packages/design-system/avatar/avatar.stories.tsx
  packages/design-system/clamp-text/use-clamp-text.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

upgrade design system
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

wip
  apps/next/src/pages/spotify-auth/redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

wip (#1668)
  apps/next/src/pages/spotify-auth/redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

fix: profile light box not working
  packages/app/components/profile/profile-top.tsx
  packages/app/hooks/use-content-width.ts
  packages/design-system/light-box/light-box.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: image ratio
  packages/app/components/card/card.tsx
  packages/design-system/image/image.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: reanimated warning
  packages/design-system/light-box/light-box.web.tsx
Owners: @axeldelafosse

fix: console error/warning
  packages/app/components/card/card.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/media/index.tsx
  packages/app/hooks/use-follow-suggestions.ts
  packages/app/navigation/link/link-core.web.tsx
  packages/app/navigation/link/link.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: push notifications on setting
  packages/app/components/settings/tabs/push-notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: disconnect spotify
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/hooks/use-connect-spotify.ts
  packages/app/hooks/use-disconnect-spotify.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/queryString.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: nit ui
  packages/app/components/settings/tabs/account.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: disconnect spotify (#1670)
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/settings/tabs/account.tsx
  packages/app/hooks/use-connect-spotify.ts
  packages/app/hooks/use-disconnect-spotify.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/queryString.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit: crash fix
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v72.0.1
  package.json
Owners: none

add password gated drops
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-creator-collection-detail.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/types.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

show alert if wrong password
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

get password from query param
  packages/app/components/claim/claim-form.tsx
  packages/app/components/claim/claim.tsx
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

password input
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: double tap to like
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/feed/feed-item-tap-gesture.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: double tap to like (#1671)
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/feed/feed-item-tap-gesture.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat(wip): complete profile
  apps/next/src/pages/_app.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/complete-profile-modal-content/complete-profile-modal-content.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/profile/complete-profile.tsx
  packages/app/components/profile/profile-social-explanation.tsx
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/screens/complete-profile.tsx
  packages/app/screens/profile-social-explanation.tsx
  packages/design-system/chip/index.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/icon/Facebook.svg
  packages/design-system/icon/Facebook.tsx
  packages/design-system/icon/UserCircle.svg
  packages/design-system/icon/UserCircle.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add location gating
  apps/expo/package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/hooks/use-creator-collection-detail.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/screens/claim.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: update icons
  packages/app/components/card/rows/elements/icon.tsx
  packages/design-system/icon/Apple.svg
  packages/design-system/icon/Apple.tsx
  packages/design-system/icon/GoogleOriginal.svg
  packages/design-system/icon/GoogleOriginal.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add multi gating
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-creator-collection-detail.ts
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add claim multi
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/swr-cache.ts
  packages/app/providers/swr-provider.tsx
  packages/app/providers/swr-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/swr-cache.ts
  packages/app/providers/swr-provider.tsx
  packages/app/providers/swr-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

names
  packages/app/providers/swr-cache.ts
  packages/app/providers/swr-provider.tsx
  packages/app/providers/swr-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: password field init
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

some cleanup
  packages/app/components/claim/claim-button.tsx
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: update claim button
  packages/app/components/claim/claim-button.tsx
  packages/design-system/icon/Hourglass.svg
  packages/design-system/icon/Hourglass.tsx
  packages/design-system/icon/icon.stories.tsx
  packages/design-system/icon/index.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

stop persistent caching on all requests (#1674)
  packages/app/providers/swr-cache.ts
  packages/app/providers/swr-provider.tsx
  packages/app/providers/swr-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: qr code
  apps/expo/package.json
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/qr-code/index.ts
  packages/app/components/qr-code/qr-code.tsx
  packages/app/providers/claim-provider.tsx
  packages/app/screens/qr-code.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: qr code
  apps/next/src/pages/_app.tsx
  packages/app/screens/qr-code.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mount-crash
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: mount-crash (#1677)
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

save on native
  apps/expo/app.config.js
  apps/expo/package.json
  packages/app/components/qr-code/qr-code.tsx
  packages/app/lib/view-shot/index.ts
  packages/app/lib/view-shot/index.web.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
