Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: lint warning
  packages/app/components/swipe-list.web.tsx
  packages/design-system/alert/index.tsx
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.web.tsx
  packages/design-system/collapsible-tab-view/gesture-container.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: useContentWidth hooks
  packages/app/hooks/use-content-width.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: restore initialScrollIndex
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: pick domain from env variable
  apps/expo/.env.development
  apps/expo/.env.production
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/hooks/use-share-nft.ts
  packages/app/navigation/linking.ts
  packages/app/providers/wallet-connect-provider.tsx
  packages/app/providers/wallet-provider.tsx
  packages/app/types/environment.d.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: profile margin
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix lint
  packages/app/lib/growthbook.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v61.0.1
  package.json
Owners: none

remove husky for now
  .husky/pre-push
  package.json
  yarn.lock
Owners: none

lint staged
  .husky/pre-commit
  package.json
  yarn.lock
Owners: none

fix: swipe list issues
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

working
  package.json
Owners: none

feat: run lint on staged files (#1574)
  .husky/pre-commit
  package.json
  yarn.lock
Owners: none

fix: initialIndex on profile list
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/components/footer/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

search v2
  packages/app/hooks/api/use-search.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

search v2 (#1577)
  packages/app/hooks/api/use-search.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1576)
  packages/app/components/footer/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1576) (#1578)
  packages/app/components/footer/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v61.0.2
  package.json
Owners: none

fix: blocked & tabbar initial
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: profile router
  packages/app/components/error-boundary/fallback.tsx
  packages/app/components/profile/profile.web.tsx
  packages/design-system/router/use-router.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: pick domain from env variable (#1572)
  apps/expo/.env.development
  apps/expo/.env.production
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/next/src/pages/_app.tsx
  apps/next/src/pages/api/.well-known/apple-app-site-association.ts
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/profile-dropdown.tsx
  packages/app/hooks/use-share-nft.ts
  packages/app/navigation/linking.ts
  packages/app/providers/wallet-connect-provider.tsx
  packages/app/providers/wallet-provider.tsx
  packages/app/types/environment.d.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v62.0.0
  package.json
Owners: none

fix: profile card margin
  packages/app/components/card/card.tsx
  packages/app/components/media/index.tsx
  packages/app/components/memo-with-theme.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

redirect working
  apps/expo/.env.staging
  apps/next/src/pages/login-with-spotify/demo-double-fire.tsx
  apps/next/src/pages/login-with-spotify/index.tsx
  apps/next/src/pages/login-with-spotify/redirect.tsx
  apps/next/src/pages/login-with-spotify/util.ts
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-save-spotify-token.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/providers/wallet-provider.web.tsx
  packages/app/screens/spotify-auth-redirect.tsx
  packages/app/types.ts
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: profile initial router
  packages/app/components/card/card.tsx
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: type warning
  packages/app/components/creator-preview/index.tsx
  packages/app/components/media/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

redirect uri
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/screens/spotify-auth-redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: muted btn position
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: import name
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: redirection
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-share-nft.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/screens/spotify-auth-redirect.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

spotify dro
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

configure fcm
  .github/workflows/expo-production.yml
  apps/expo/app.config.js
  apps/expo/google-services.json.gpg
  scripts/decrypt_secret.sh
  scripts/decrypt_secrets.sh
Owners: @axeldelafosse, @intergalacticspacehighway

spotify dro
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-drop-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hide nft not visible
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

update sign in modal
  packages/app/components/connect-button/connect-button.tsx
  packages/app/components/connect-button/connect-button.web.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login-header.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use google-services file on prod only
  apps/expo/app.config.js
Owners: @intergalacticspacehighway

fix: view tw prop
  packages/design-system/view/index.tsx
Owners: @axeldelafosse

move claim state in provider
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-creator-collection-detail.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/providers/app-providers.tsx
  packages/app/providers/app-providers.web.tsx
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
