Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: double-like on web
  packages/app/components/feed/feed-item-tap-gesture.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: hide radius when location null
  .bitmap
  apps/expo/package.json
  packages/app/components/drop/drop-form.tsx
  packages/design-system/accordion/animate-height.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

upgrade
  apps/expo/package.json
  apps/expo/plugins/with-hermes-ios-m1-workaround.js
  apps/storybook-react-native/package.json
  apps/storybook-react-native/plugins/with-hermes-ios-m1-workaround.js
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix deps
  apps/expo/babel.config.js
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

wip
  apps/next/package.json
  packages/app/components/card/avatar-hover-card.tsx
  packages/app/components/card/avatar-hover-card.web.tsx
  packages/app/components/card/rows/elements/creator.tsx
  packages/design-system/avatar/index.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove expo-av patch file
  patches/expo-av+12.0.4.patch
Owners: none

update some patches
  patches/@react-native-menu+menu+0.5.3.patch
  patches/expo-av+12.0.4.patch
  patches/expo-notifications+0.17.0.patch
  patches/jest-expo+45.0.1.patch
  patches/react-native+0.70.5.patch
Owners: none

got to a reanimated error
  apps/next/expo-adapter.js
  apps/next/next.config.js
  apps/next/src/pages/_app.tsx
  apps/next/tsconfig.json
Owners: @axeldelafosse, @intergalacticspacehighway

move withExpo to withPlugins
  apps/next/next.config.js
Owners: @axeldelafosse, @intergalacticspacehighway

feat: hover avatar to preview profile
  apps/next/package.json
  packages/app/components/card/avatar-hover-card.tsx
  packages/app/components/card/avatar-hover-card.web.tsx
  packages/app/components/card/rows/elements/creator.tsx
  packages/app/components/card/rows/elements/ownership.tsx
  packages/app/components/creator-preview/index.tsx
  packages/app/components/feed-item/claimed-by.tsx
  packages/app/components/follow-button.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/components/messages/message-row.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/notifications/notification-item.tsx
  packages/app/components/profile/profile-follows.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/profile/profile.web.tsx
  packages/app/utilities.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix: import
  packages/app/components/messages/message-row.tsx
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1704)
  packages/app/providers/wallet-provider.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: hover card size
  packages/app/components/card/avatar-hover-card.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

perf: optimise fetches in grid items
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

perf: optimise fetches in grid items (#1705)
  packages/app/components/card/card.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  packages/app/hooks/use-fetch-on-app-foreground.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip (#1706)
  packages/app/hooks/use-fetch-on-app-foreground.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: avatar hover card on mobile web
  packages/app/components/card/avatar-hover-card.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

patch: remove recylyerlistview patch file
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/hooks/use-nft-cards-list-layout-provider.ts
  patches/recyclerlistview+4.1.3.patch
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: update yarn.lock
  yarn.lock
Owners: none

fix: claimed-by avatar
  packages/app/components/feed-item/claimed-by.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

patch: remove react-native-menu patch
  patches/@react-native-menu+menu+0.5.3.patch
Owners: none

deps: upgrade @react-native-menu/menu
  apps/expo/package.json
  apps/next/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: removeTags regex
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: removeMd
  packages/app/utilities.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login signature button on web
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: can't close modal when login after
  packages/app/components/login/index.tsx
  packages/app/components/login/index.web.tsx
  packages/app/components/login/login.tsx
  packages/app/components/login/use-login.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: regex & clean code
  apps/expo/package.json
  apps/next/package.json
  packages/app/components/card/rows/description.tsx
  packages/app/components/liked-by/index.tsx
  packages/app/components/notifications/nfts-display-name.tsx
  packages/app/components/settings/settings-wallet-slot.tsx
  packages/app/hooks/use-share-nft.ts
  packages/app/lib/linkify.tsx
  packages/app/lib/remove-markdown.ts
  packages/app/lib/utilities.ts
  packages/app/utilities.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: typo
  packages/app/components/card/rows/description.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: dark mode change
  apps/expo/App.tsx
  packages/design-system/color-scheme/provider.tsx
  packages/design-system/color-scheme/provider.web.tsx
Owners: @intergalacticspacehighway, @axeldelafosse

fix: type
  packages/design-system/collapsible-tab-view/create-collapsible-tabs.tsx
  packages/design-system/tab-view/index.tsx
Owners: @axeldelafosse

fix: dark mode change
  .bitmap
  apps/expo/package.json
  package.json
  packages/design-system/color-scheme/provider.tsx
  packages/design-system/color-scheme/provider.web.tsx
  packages/design-system/extensions/react-native-web/react-native-web.main.runtime.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

install xmtp
  .prettierrc.js
  apps/expo/babel.config.js
  apps/expo/index.js
  apps/expo/package.json
  apps/expo/shim.js
  apps/next/next.config.js
  apps/next/src/pages/inbox.tsx
  apps/storybook-react-native/package.json
  packages/app/lib/xmtp/index.ts
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/pages/home/index.tsx
  packages/app/pages/inbox/index.tsx
  packages/app/pages/inbox/index.web.tsx
  packages/app/screens/inbox.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

deps: upgrade radix-ui
  apps/expo/package.json
  apps/next/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: storybook build
  .bitmap
  apps/expo/package.json
  packages/design-system/snackbar/snackbar.stories.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

try to use core-js and raf polyfills
  .prettierrc.js
  apps/next/next.config.js
  apps/next/package.json
  apps/next/raf.js
  apps/next/src/pages/_app.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

upgrade to latest next.js and remove next-transpile-modules
  apps/next/next.config.js
  apps/next/package.json
  apps/storybook-react/package.json
  package.json
  packages/design-system/README.md
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

feat: drop draft
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/drop/drop-form.tsx
  packages/app/components/preview/index.tsx
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-persist-drop-form.ts
  packages/design-system/file-picker/index.ts
  packages/design-system/toast/toast.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa
