Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: login with wallet not working (#1560)
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

upgrade rn
  apps/expo/package.json
  apps/storybook-react-native/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: keyboard in forms (#1559)
  apps/expo/App.tsx
  apps/expo/app.config.js
  apps/expo/package.json
  apps/storybook-react-native/package.json
  package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/comments/comment-input-box.tsx
  packages/app/components/comments/comments-container.ios.tsx
  packages/app/components/comments/index.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/edit-profile.tsx
  packages/app/components/login/index.tsx
  packages/app/components/login/login-container.ios.tsx
  packages/app/components/login/login-container.tsx
  packages/app/components/login/login-input-field.tsx
  packages/app/components/login/login-overlays.tsx
  packages/app/components/login/phone-number-picker.tsx
  packages/app/components/messages/message-box.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/navigation/bottom-tab-navigator.tsx
  packages/app/screens/comments.tsx
  packages/app/screens/edit-profile.tsx
  packages/design-system/fieldset/index.tsx
  packages/design-system/modal/modal.container.tsx
  packages/design-system/modal/modal.footer.tsx
  packages/design-system/modal/useKeyboard.android.ts
  packages/design-system/modal/useKeyboard.ts
  packages/design-system/modal/useKeyboardOffset.android.ts
  packages/design-system/modal/useKeyboardOffset.ts
  packages/design-system/scroll-view/scroll-view.tsx
  packages/design-system/scroll-view/types.ts
  workspace.jsonc
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v60.0.0
  package.json
Owners: none

upgrade components
  apps/expo/package.json
Owners: @intergalacticspacehighway

upgrade components
  .bitmap
  yarn.lock
Owners: none

pwa
  .gitignore
  apps/next/next.config.js
  apps/next/package.json
  apps/next/public/icons/icon-128x128.png
  apps/next/public/icons/icon-144x144.png
  apps/next/public/icons/icon-152x152.png
  apps/next/public/icons/icon-192x192.png
  apps/next/public/icons/icon-384x384.png
  apps/next/public/icons/icon-512x512.png
  apps/next/public/icons/icon-72x72.png
  apps/next/public/icons/icon-96x96.png
  apps/next/public/manifest.json
  apps/next/src/pages/_app.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

preconnect and dns prefetch api + cdn
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

add apple-touch-icon
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

update cache to make js NetworkFirst instead of StaleWhileRevalidate
  apps/next/next.config.js
  apps/next/workbox-cache.js
Owners: @axeldelafosse, @intergalacticspacehighway

chore: upgrade components (#1561)
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

preconnect and dns prefetch our cdn
  apps/next/src/pages/_app.tsx
Owners: @axeldelafosse, @intergalacticspacehighway

feat: swipe-list on web
  apps/next/package.json
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/feed-item/index.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/lib/constants.ts
  packages/design-system/hooks/index.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: add wallet on mobile web
  packages/app/hooks/use-add-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use expo application id to register for push notifications between environments
  packages/app/lib/register-push-notification.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix (#1566)
  packages/app/hooks/api/use-set-primary-wallet.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

stop saying NFTs
  apps/expo/app.config.js
  packages/app/components/claim/claim-explanation.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-explanation.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/components/profile/profile-top.tsx
  packages/app/components/trending/index.tsx
  packages/app/components/trending/trending.md.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: fullscreen & adjust layout
  apps/next/package.json
  apps/next/src/pages/_app.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/feed/feed.md.tsx
  packages/app/components/header.tsx
  packages/app/components/media/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/profile/index.tsx
  packages/app/components/settings/blocked-list.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/settings/privacy-and-security.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/components/trending/index.tsx
  packages/app/components/trending/trending.md.tsx
  packages/app/hooks/use-full-screen.ts
  packages/app/hooks/use-viewability-mount.ts
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: jitter when open modal
  apps/next/package.json
  packages/app/components/header.tsx
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: profile & trending swipelist on web
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/trending/trending-nfts-list.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

chore: remove vision camera
  apps/expo/app.config.js
  apps/expo/package.json
  apps/storybook-react-native/app.config.js
  apps/storybook-react-native/package.json
  packages/app/components/camera/vision-camera.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

chore: remove vision camera (#1569)
  apps/expo/app.config.js
  apps/expo/package.json
  apps/storybook-react-native/app.config.js
  apps/storybook-react-native/package.json
  packages/app/components/camera/vision-camera.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: auto init country code
  apps/expo/package.json
  packages/app/components/login/phone-number-picker.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

feat: auto initialise country code (#1570)
  apps/expo/package.json
  packages/app/components/login/phone-number-picker.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v61.0.0
  package.json
Owners: none

feat: SwipeList web support
  apps/next/src/pages/_app.tsx
  apps/next/src/styles/styles.css
  packages/app/components/card/card-skeleton.tsx
  packages/app/components/card/card.tsx
  packages/app/components/empty-placeholder.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/media/index.tsx
  packages/app/components/notifications/index.tsx
  packages/app/components/profile/index.web.tsx
  packages/app/components/profile/profile-tab-list.tsx
  packages/app/components/search/index.tsx
  packages/app/components/settings/index.tsx
  packages/app/components/trending/index.tsx
  packages/app/components/trending/nfts-list.tsx
  packages/app/hooks/use-platform-bottom-height.ts
  packages/design-system/hooks/index.ts
  packages/design-system/infinite-scroll-list/infinite-scroll-list.tsx
  packages/design-system/infinite-scroll-list/infinite-scroll-list.web.tsx
  packages/design-system/tab-view/tab-bar-single.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/app/components/profile/index.web.tsx
  packages/app/hooks/use-social-color.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: SwipeList initialSlide overflow
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: SwipeList initialSlide overflow
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: fix import
  packages/app/components/profile/index.ts
  packages/app/components/profile/profile.tsx
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: typo
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove test data
  packages/app/components/settings/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: adjust profile footer
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: footer color
  packages/app/components/profile/profile.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: notifications header
  packages/app/components/header.tsx
  packages/app/components/notifications/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: swipe threshold on mobile
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: toggle fullscreen
  packages/app/components/feed-item/feed-item.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: add Keyboard to control swiper
  packages/app/components/swipe-list.web.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: some nits
  packages/app/components/card/card-skeleton.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/swipe-list.web.tsx
  packages/app/hooks/use-content-width.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
