Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

verify form
  packages/app/components/drop/drop-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

reduce scope
  packages/app/lib/spotify/queryString.ts
  packages/app/lib/spotify/spotify.native.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

revert ios native module
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

clean up
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

track name in claim form
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-creator-collection-detail.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

use spotify remote sdk only on androidb
  packages/app/lib/spotify/spotify.android.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: music drops (#1639)
  .gitignore
  apps/expo/.env.staging
  apps/expo/package.json
  apps/next/src/pages/spotify-auth/redirect.tsx
  package.json
  packages/app/components/claim/claim-form.tsx
  packages/app/components/drop/drop-form.tsx
  packages/app/hooks/use-creator-collection-detail.ts
  packages/app/hooks/use-drop-nft.ts
  packages/app/hooks/use-save-spotify-token.ts
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/index.ts
  packages/app/lib/spotify/queryString.ts
  packages/app/lib/spotify/spotify.android.ts
  packages/app/lib/spotify/spotify.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/navigation/types.ts
  packages/app/providers/wallet-provider.web.tsx
  packages/app/screens/nft.tsx
  packages/app/screens/spotify-auth.tsx
  packages/app/types.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v67.0.0
  package.json
Owners: none

feat: handle 404 not found
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/expo/app.config.js
  apps/expo/plugins/with-spotify-sdk.js
Owners: @intergalacticspacehighway

wip (#1641)
  apps/expo/app.config.js
  apps/expo/plugins/with-spotify-sdk.js
Owners: @intergalacticspacehighway

nit: name in quotes
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit: name in quotes (#1642)
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: DataPill component color
  packages/app/components/drop/drop-form.tsx
  packages/design-system/data-pill/index.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

deps: fix
  .bitmap
  apps/expo/package.json
  packages/design-system/data-pill/index.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: yarn.lock
  yarn.lock
Owners: none

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  packages/design-system/collapsible-tab-view/@types/react-stickynode/index.d.ts
  packages/design-system/data-pill/index.tsx
  packages/design-system/image/image.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: android redirect scheme name
  apps/expo/plugins/with-spotify-sdk.js
Owners: @intergalacticspacehighway

fix: android redirect scheme name (#1644)
  apps/expo/plugins/with-spotify-sdk.js
Owners: @intergalacticspacehighway

release v68.0.0
  package.json
Owners: none

fix: CI deps
  apps/expo/package.json
Owners: @intergalacticspacehighway

fix: try to fix CI
  apps/expo/package.json
  package.json
Owners: @intergalacticspacehighway

wip
  apps/expo/package.json
Owners: @intergalacticspacehighway

wip
  apps/expo/package.json
  package.json
Owners: @intergalacticspacehighway

fix: upgrade zeego patches
  patches/zeego+canary.patch
Owners: none

fix: alchemy provider endpoint
  apps/expo/.env.development
  apps/expo/.env.production
  apps/expo/.env.staging
  packages/app/providers/wallet-provider.web.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v68.0.1
  package.json
Owners: none

fix: alchemy provider endpoint (#1645)
  apps/expo/.env.development
  apps/expo/.env.production
  apps/expo/.env.staging
  packages/app/providers/wallet-provider.web.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: zeego patch file
  patches/zeego+1.0.0-alpha.20.patch
Owners: none

fix: social styles
  packages/app/components/card/card.tsx
  packages/app/components/claim/gift-button.tsx
  packages/app/components/feed-item/details.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed/comment-button.tsx
  packages/app/components/like-button/index.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/social-button.tsx
  packages/app/hooks/use-social-color.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v68.0.2
  package.json
Owners: none

feat: spotify play url
  .bitmap
  apps/expo/package.json
  packages/app/components/card/card.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/play-on-spotify.tsx
  packages/app/hooks/use-creator-collection-detail.ts
  packages/design-system/icon/Spotify.svg
  packages/design-system/icon/Spotify.tsx
  packages/design-system/icon/index.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

make fonts bold
  packages/app/components/play-on-spotify.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

add spotify logo in claim button
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

feat: spotify play url in drop cards (#1648)
  .bitmap
  apps/expo/package.json
  packages/app/components/card/card.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/components/feed-item/feed-item.md.tsx
  packages/app/components/feed-item/feed-item.tsx
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/play-on-spotify.tsx
  packages/app/hooks/use-creator-collection-detail.ts
  packages/design-system/icon/Spotify.svg
  packages/design-system/icon/Spotify.tsx
  packages/design-system/icon/index.ts
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: google auth in spotify login
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

remove logs
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: google auth in spotify login (#1649)
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v68.0.3
  package.json
Owners: none
