Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TatisLois, @intergalacticspacehighway, @axeldelafosse

.github/CODEOWNERS:

apps/next-react @TatisLois
apps/next-react-native @TatisLois
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @TatisLois
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse

fix: android keyboard fix
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

keep videos muted
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

keep videos muted (#885)
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: staging crash
  apps/expo/.env.staging
  packages/app/components/error-boundary.tsx
  packages/app/navigation/tab-bar-icons.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: staging crash (#886)
  apps/expo/.env.staging
  packages/app/components/error-boundary.tsx
  packages/app/navigation/tab-bar-icons.tsx
Owners: @intergalacticspacehighway, @axeldelafosse, @TatisLois

fix: sentry env in staging
  apps/expo/.env.staging
Owners: @intergalacticspacehighway

re-organize header and tabs
  packages/app/components/header-dropdown.tsx
  packages/app/navigation/next-tab-navigator.tsx
  packages/app/navigation/tab-bar-icons.tsx
  packages/app/pages/profile.tsx
  packages/design-system/icon/Settings.tsx
  packages/design-system/icon/index.ts
  packages/design-system/icon/settings.svg
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: sentry env in staging (#888)
  apps/expo/.env.staging
Owners: @intergalacticspacehighway

fix types and use react navigation getId
  packages/app/navigation/types.ts
  packages/app/pages/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: profile swipelist loading
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: keep username and bio nullable
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: profile swipelist loading (#889)
  packages/app/components/profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

chore: remove logs
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: keep username and bio nullable (#890)
  packages/app/components/edit-profile.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: optimistic like for unauthenticated user
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix issue with tab bar
  packages/app/components/feed.tsx
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

set EXPO_USE_APPLE_DEVICE flag correctly and disabled it
  apps/expo/package.json
  apps/storybook-react-native/package.json
Owners: @intergalacticspacehighway, @axeldelafosse

fix: optimistic like for unauthenticated user (#891)
  packages/app/components/feed/like.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add extended state to recycler list
  packages/app/components/swipe-list.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix tab bar
  packages/app/components/swipe-list.tsx
  packages/app/navigation/next-tab-navigator.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

redirect to home when logging out
  packages/app/providers/auth-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: add new feed endpoints
  packages/app/components/feed.tsx
  packages/app/hooks/use-feed.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

fix: improve transfer
  packages/app/components/transfer-nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add details modal + clean code
  packages/app/components/details.tsx
  packages/app/components/nft-dropdown.tsx
  packages/app/components/transfer.tsx
  packages/app/hooks/api/use-nft-ownership.ts
  packages/app/hooks/use-nft-details.ts
  packages/app/navigation/linking.ts
  packages/app/navigation/root-stack-navigator.tsx
  packages/app/pages/home.tsx
  packages/app/screens/details.tsx
  packages/app/screens/transfer.tsx
  packages/design-system/card/rows/elements/ownership.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

update readme
  README.md
Owners: none

fix: keyboard in transfer
  packages/app/components/transfer-nft.tsx
  packages/app/screens/transfer-nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

install react-native-cronet
  apps/expo/app.config.js
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

fix(transfer): amount logic and copy fix
  packages/app/components/transfer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

refactor(transfer): hide copies when user owns 1 edition
  packages/app/components/transfer.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add config plugin for cronet on android (to configure fresco)
  README.md
  apps/expo/app.config.js
  apps/expo/plugins/react-native-cronet.js
Owners: @intergalacticspacehighway

fix: profile pic form data
  packages/app/components/edit-profile.tsx
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

cleanup
  packages/app/lib/axios.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

only use one image size (1328)
  packages/design-system/media/index.tsx
Owners: @axeldelafosse

feat: edit profile and cover picture (#884)
  packages/app/components/edit-profile.tsx
  packages/app/hooks/use-link-options.ts
  packages/app/lib/axios.ts
  packages/design-system/icon/Upload.svg
  packages/design-system/icon/Upload.tsx
  packages/design-system/icon/index.ts
  packages/design-system/image-picker/pick-image.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

use offset instead of page
  packages/app/hooks/use-feed.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

use offset instead of page
  packages/app/hooks/use-notifications.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

pass empty array as data for post call to check_notifications
  packages/app/components/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

feat: add new feed endpoints (#893)
  packages/app/components/feed.tsx
  packages/app/components/notifications.tsx
  packages/app/hooks/use-feed.ts
  packages/app/hooks/use-notifications.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

pass empty data object to post calls
  packages/app/components/notifications.tsx
  packages/app/hooks/api-hooks.ts
  packages/app/hooks/api/use-comments.ts
  packages/app/hooks/auth/use-nonce.ts
  packages/app/hooks/use-mint-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois

add solid nav bar on android
  packages/app/components/profile.tsx
  packages/app/components/search/index.tsx
  packages/app/components/swipe-list.tsx
  packages/app/components/trending.tsx
  packages/app/navigation/navigator-screen-options.tsx
  packages/app/screens/edit-profile.tsx
  packages/app/screens/nft.tsx
  packages/app/screens/notifications.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @TatisLois
