Repository showtime-xyz/showtime-frontend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.2
  package.json
Owners: none

wip
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/hooks/use-redirect-to-claim-drop.ts
  packages/app/screens/nft.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/hooks/use-spotify-gated-claim.ts
  packages/app/lib/spotify/index.ts
  packages/app/lib/spotify/queryString.ts
  packages/app/lib/spotify/spotify.ts
  packages/app/screens/spotify-auth.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: crash
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.3
  package.json
Owners: none

remove toast
  packages/app/hooks/use-save-spotify-token.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nit
  apps/next/src/pages/spotify-auth/redirect.tsx
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: overlay on android
  packages/app/lib/react-navigation/bottom-tabs/index.ts
  packages/design-system/snackbar/snackbar-container.tsx
  packages/design-system/toast/toast-container.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

deps: upgrade packages
  .bitmap
  apps/expo/package.json
  yarn.lock
Owners: @intergalacticspacehighway

release v63.0.4
  package.json
Owners: none

ignore unknown notifications
  packages/app/components/notifications/notification-item.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-spotify-gated-claim.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

link to the app stores
  packages/app/components/feed-item/feed-item.web.tsx
  packages/app/components/feed/feed.md.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: claim snackbar
  packages/app/components/claim/claim-form.tsx
  packages/app/components/media/index.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/utilities.ts
  packages/design-system/snackbar/snackbar-container.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/hooks/use-claim-nft.ts
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: show claiming status instantly (#1595)
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: snackbar doesn't update to claimed
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: snackbar doesn't update to claimed
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: snackbar doesn't update to claimed
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: snackbar share button
  .bitmap
  apps/expo/package.json
  packages/design-system/snackbar/snackbar-container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse

fix: snackbar doesn't update status (#1597)
  .bitmap
  apps/expo/package.json
  packages/app/hooks/use-claim-nft.ts
  packages/app/providers/claim-provider.tsx
  packages/design-system/snackbar/snackbar-container.web.tsx
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

fix: claim share screen
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

fix: remove alert from claim btn
  packages/app/components/claim/claim-button.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.5
  package.json
Owners: none

fix: claim left copy sometimes is 0
  packages/app/components/profile/profile-top.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

release v63.0.6
  package.json
Owners: none

fix
  packages/app/components/claim/claim-form.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

upgrade next
  apps/next/package.json
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse, @intergalacticspacehighway

fix: build error
  package.json
  yarn.lock
Owners: none

downgrade next
  apps/next/package.json
Owners: @axeldelafosse, @intergalacticspacehighway

downgrade next
  apps/storybook-react/package.json
  package.json
  yarn.lock
Owners: @axeldelafosse

release v63.0.7
  package.json
Owners: none

fix: build
  package.json
  yarn.lock
Owners: none

fix: claim + snackbar flow
  packages/app/components/claim/claim-button.tsx
  packages/app/components/claim/claim-form.tsx
  packages/app/hooks/use-claim-nft.ts
  packages/app/providers/claim-provider.tsx
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

nits
  packages/app/components/profile/profile.tsx
  packages/app/lib/spotify/queryString.ts
  packages/app/lib/spotify/spotify.native.ts
  packages/app/types.ts
  react-native-spotify-remote/package.json
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

wip
  apps/expo/package.json
  package.json
  packages/app/lib/spotify/queryString.ts
  packages/app/lib/spotify/spotify.native.ts
  react-native-spotify-remote/package.json
  yarn.lock
Owners: @intergalacticspacehighway, @axeldelafosse, @alantoa

release v63.0.8
  package.json
Owners: none

nit
  packages/app/hooks/use-spotify-gated-claim.ts
  react-native-spotify-remote/ios/RNSpotifyRemoteAuth.m
Owners: @axeldelafosse, @intergalacticspacehighway, @alantoa

.github/CODEOWNERS:

apps/next @axeldelafosse @intergalacticspacehighway
apps/expo @intergalacticspacehighway
apps/storybook-react @axeldelafosse
apps/storybook-react-native @axeldelafosse
packages/app @axeldelafosse @intergalacticspacehighway @alantoa
packages/design-system @axeldelafosse
.github/workflows @axeldelafosse
